.pricing-table {
    margin: 10px 0;
    padding: 0 15px;
    text-align: center;
}

.pricing-table .col-md-3 {
  width: 25%;
  display: inline-block
}

.pricing-table ul {
    list-style: outside none none;
    margin: 20px 0 0;
    padding: 0;
}
.pricing-table li {
    border-top: 1px solid #ddd;
    color: #777;
    padding: 10px 0;
    list-style: none;
    list-style-image: none
}
.pricing-table h3 {
    background-color: #eee;
    border-radius: 2px 2px 0 0;
    font-size: 2.3em;
    font-weight: normal;
    margin: -20px -20px 50px;
    padding: 20px;
    text-transform: uppercase
}
.pricing-table h3 .desc {
    color: #777;
    display: block;
    font-size: 0.7em;
    font-style: normal;
    margin-bottom: 0;
    padding-bottom: 0;
    text-transform: none;
}
.pricing-table h3 span {
    background: #fff none repeat scroll 0 0;
    border: 5px solid #fff;
    border-radius: 100px;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    color: #777777;
    display: block;
    font: bold 25px/100px Roboto;
    height: 100px;
    margin: 20px auto -65px;
    width: 100px;
}
.pricing-table .most-popular {
    border: 3px solid #ccc;
    box-shadow: 11px 0 10px -10px rgba(0, 0, 0, 0.1), -11px 0 10px -10px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    /*top: -10px;*/
    z-index: 2;
}
.pricing-table .most-popular h3 {
    background-color: #666;
    color: #fff;
    padding-top: 30px;
    text-shadow: 0 1px #555;
}
.pricing-table .most-popular h3 .desc {
    color: #fff;
}
.pricing-table .plan-ribbon-wrapper {
    height: 88px;
    overflow: hidden;
    position: absolute;
    right: -3px;
    top: -5px;
    width: 85px;
}
.pricing-table .plan-ribbon {
    background-color: #bfdc7a;
    background-image: linear-gradient(to bottom, #bfdc7a, #8ebf45);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    color: #333;
    font-size: 14px;
    left: -5px;
    padding: 7px 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    top: 15px;
    transform: rotate(45deg);
    width: 120px;
}
.pricing-table .plan-ribbon::before {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    bottom: -3px;
    content: "";
    left: 0;
    position: absolute;
}
.pricing-table .plan-ribbon::after {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    bottom: -3px;
    content: "";
    position: absolute;
    right: 0;
}
.pricing-table [class*="col-md-"] {
    padding-left: 0;
    padding-right: 0;
}
.pricing-table .plan {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
    margin-bottom: 35px;
    margin-right: 0;
    padding: 20px;
    position: relative;
    text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}
.pricing-table .btn {
    margin-top: 5px;
}
.pricing-table.pricing-table-sm h3 .desc {
    font-size: 0.7em;
}
.pricing-table.pricing-table-sm h3 span {
    border: 3px solid #fff;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    font: bold 19px/65px Georgia,serif;
    height: 70px;
    margin: 10px auto -65px;
    width: 70px;
}
.pricing-table.pricing-table-sm .most-popular {
    padding-bottom: 30px;
}
.pricing-table.princig-table-flat .plan {
    margin: -1px;
    padding-left: 0;
    padding-right: 0;
}
.pricing-table.princig-table-flat .plan h3 {
    background-color: #666;
    color: #fff;
    margin: -20px 0 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    text-shadow: 0 1px #555;
}
.pricing-table.princig-table-flat .plan h3 .desc {
    color: #fff;
}
.pricing-table.princig-table-flat .plan h3 span {
    background: #666 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 1.5em;
    height: auto;
    line-height: 38px;
    margin: 0;
    width: 100%;
}
.pricing-table.princig-table-flat .plan ul {
    margin-bottom: -15px;
    margin-top: 0;
}
.pricing-table.princig-table-flat .plan ul li {
    padding: 8px 0;
}
.pricing-table.princig-table-flat .plan.most-popular ul li {
    padding: 10px 0;
}
.pricing-table.spaced [class*="col-md-"] {
    padding-left: 2px;
    padding-right: 2px;
}
.pricing-table.no-borders .plan {
    border: 0 none !important;
}
html.boxed .pricing-table .plan, html.boxed .pricing-table h3 {
    border-radius: 0;
}

.pricing-table .btn {
    background: #2196f3 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-family: Roboto,sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
}

/*.pricing-table .btn:hover {
    box-shadow: 0 1px 7px #999;
}*/

.pricing-table .plan:hover {
    box-shadow: 1px 1px 10px #777;
    z-index: 1000
}


@media (max-width: 999px) {
    .pricing-table {
        margin-left: 0;
    }
    .pricing-table .plan {
        margin-right: 0;
    }
    html.boxed .pricing-table {
        margin-left: 0;
    }
    
    .pricing-table .col-md-3 {
        width: 100%;
        display: block
    }    
}