#lx-admin-log-filter-form {
    max-width: 1400px;
    width: 100%
}

#lx-admin-log-filter-form .form-item-fields {
    float: none;
    clear: both
}
#lx-admin-log-filter-form .form-item-fields .form-item {
    display: inline-block !important;
    width: 140px !important;
    padding: 0
}

#lx-admin-log-filter-form .cond-inline {
    display: inline-block;
    margin-right: 20px
}

#lx-admin-log-filter-form .form-item {
    margin: 0;
    padding: 0;
    margin-bottom: 3px
}

#lx-admin-log-filter-form .cond-inline.clear-right {
    clear:right
}

#lx-admin-log-filter-form fieldset {
  border: medium none;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  width: 48%
}

#lx-admin-log-filter-form fieldset .fieldset-wrapper {
  padding: 0;
} 

#lx-etalon-db-query-etalons-form .form-item-version,
#lx-etalon-db-query-etalons-form .form-item-status,
#lx-etalon-db-query-etalons-form .form-item-version label,
#lx-etalon-db-query-etalons-form .form-item-status label,
#lx-etalon-db-query-etalons-form .form-item-browser,
#lx-etalon-db-query-etalons-form .form-item-os,
#lx-etalon-db-query-etalons-form .form-item-browserv-from,
#lx-etalon-db-query-etalons-form .form-item-browser label,
#lx-etalon-db-query-etalons-form .form-item-os label,
#lx-etalon-db-query-etalons-form .form-item-browserv-from label,
#lx-admin-log-filter-form .form-item-limit label,
#lx-admin-log-filter-form .form-item-select-type label,
#lx-admin-log-filter-form .form-item-sort-order label {
    float: left;
    margin-right: 10px
}

#lx-admin-log-filter-form .form-item-limit,
#lx-admin-log-filter-form .form-item-select-type,
#lx-admin-log-filter-form .form-item-sort-order {
    float: left;
    margin-right: 20px
}

#lx-admin-log-filter-form .form-item-show-query {
    float: left
        
}

#lx-admin-log-filter-form .form-submit {
    float: left;
    margin: 0 0 0 30px;
    position: relative;
    margin-top: -4px;
}

.restbl table td, .restbl table th {
    padding: 3px 10px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.region-content .restbl table tbody td a {
    color: #000 !important;
    text-decoration: none !important;
    border: none !important;
    display: inline !important
}

.region-content .restbl table thead th a{
    color: #333 !important;
    text-decoration: underline !important;
    border: none !important;
    display: block !important;
    height:25px;
}

.region-content .restbl table thead th a:hover {
    color: #000 !important;
    text-decoration: none !important;
    border: none !important;
    height:25px;
}

.region-content .restbl table tbody td a:hover {
    text-decoration: underline !important;
    border: none !important;
    display: inline !important
}

.region-content .restbl table thead th a.col-sortable.arr-ASC:after {
  content: "▲";
  display: block;
  float: right;
  font-size: 12px;
  padding-left: 5px;
}

.region-content .restbl table thead th a.col-sortable.arr-DESC:after {
    content: "▼";
    display: block;
    float: right;
    font-size: 12px;
    padding-left: 5px;
}

.page-admin-lxadmin .region-content .item-list {
    position: relative;
    top:-10px
}

.gen-analyt-wrapper fieldset {
    width: 400px;
    float: left;
    margin-right: 40px
}