.subscription-tariff-info-wrapper {
    background: #fff;
    float: left;
    width: 300px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin-bottom: 20px;
    margin-right: 20px;
    height: 128px
}

.subscription-tariff-wrapper {
    background: #fff;
    float: left;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin-bottom: 20px;
    width: 300px;
    height: 128px
}

.subscription-tariff-info-wrapper .ttl,
.subscription-tariff-wrapper .ttl {
    background: #0088cc none repeat scroll 0 0;
    color: #fff;
    padding: 5px 10px;
    font-size: 15px;
}

.subscription-tariff-info-wrapper .subscription-tariff {
    padding: 5px 10px
}

.subscription-tariff-info-wrapper span {
    display: block;
    font-size: 14px;
    line-height: 26px;
    width: 50%;
}

.subscription-tariff-info-wrapper span.label {
    float: left
}

.subscription-tariff-info-wrapper span.value {
    float: left;
    font-weight: bold;
    text-align: right;
    font-size: 13px
}


.subscription-tariff-wrapper .subscription-tariff-cost {
    float: right;
    padding-right: 10px;
    font-size: 36px;
    font-weight: bold;
    line-height: 60px;
    height: 50px
}

.subscription-tariff-wrapper .subscription-tariff-cost sup {
    font-size: 12px;
    font-weight: normal;
    left: -2px;
    position: relative;
    top: -4px;
}

.subscription-tariff-wrapper .subscription-tariff-plan span {
    display: block;
    padding-left: 10px;
    font-size: 13px;
    padding-top: 10px;
    width: 174px
}

.subscription-tariff-wrapper .subscription-tariff-plan span.label {
    
}

.subscription-tariff-wrapper .subscription-tariff-plan span.value {
    box-sizing: border-box;
    color: #555;
    font-size: 18px;
    font-weight: bold;
    padding-top: 12px;
    text-align: center;
    text-transform: uppercase;
}

.subscription-tariff-wrapper  .subscription-tariff-btn {
    text-align: right;
    padding-right: 10px
}

.subscription-tariff-wrapper  .subscription-tariff-btn a {
    background: #ed9c28 none repeat scroll 0 0;
    box-shadow: none;
    color: #ffffff;
    display: inline-block;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 9px;
    text-transform: uppercase; 
    margin-top: 3px
}


.subscription-tariff-btn .renew-from {
    display: block;
    margin-top: 14px;
    color: #777;
    font-size: 13px
}

span.cardinfo {
    position: absolute;
    text-align: center;
    color: #666;    
}

.subscription-tariff-wrapper .subscription-tariff-btn a {
    top: 4px !important;
    border-radius: 0 !Important
}


#block-lx-payments-newinvoices  {
    float: right;
}

#block-lx-payments-newinvoices .invoice-wrapper {
    background: #fff;
    width: 300px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin-bottom: 20px;
    height: 128px;
    position: relative;
}

#block-lx-payments-newinvoices .invoice-wrapper .ttl {
    background: #fde895;
    color: #444;
    padding: 5px 10px;
    font-size: 15px;    
}

#block-lx-payments-newinvoices .invoice-wrapper .name {
    padding: 5px 10px;
    font-size: 16px;    
}

#block-lx-payments-newinvoices .invoice-wrapper .price {
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    left: 10px;
    bottom: 10px;
    line-height: 26px
}

#block-lx-payments-newinvoices .invoice-wrapper .btn {
    position: absolute;
    right: 10px;
    bottom: 10px
}

#block-lx-payments-newinvoices .invoice-wrapper .btn .btn {
    position: relative;
    bottom: auto;
    right: auto;
    background: #ed9c28 none repeat scroll 0 0;
    box-shadow: none;
    color: #ffffff;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 2px 9px;
    text-transform: uppercase;
    margin-top: 3px;
    border-radius: 0
}

@media (max-width:980px){	
    #block-lx-payments-newinvoices  {
        float: none;
    }    
}    