#payment-form-wrapper {
/*    width: 400px;
    position: absolute;
    left: 50%;
    top: 200px;
    margin-left: -200px;*/
}

#payment-form-wrapper .form-item {
    display: flex;
    margin-right: 0;
    padding-right: 0;
    flex-direction: row;
}

#card-number,
#card-expiry,
#card-cvc,
#payment-form-wrapper .billing-info .form-item {
    border-bottom: 1px solid #f0f5fa;
}    

#card-number,
#card-expiry,
#card-cvc {
    padding: 3px 0
}

#card-number {
    margin-bottom: 10px
}

#card-expiry,
#card-cvc {
    display: inline-block;
    width: 47%
}

#payment-form-wrapper .billing-info .form-item.form-item-country {
    border-bottom: none
}

#payment-form-wrapper .billing-info .form-item label {
    display: flex;
    width: 25%;
}

#payment-form-wrapper .billing-info .form-item .form-select,
#payment-form-wrapper .billing-info .form-item .form-text{
    width: 75%;
    border: none;
    border: none;
    padding-top: 0
}

#payment-form-wrapper .billing-info .form-item .form-select {
    background: transparent;
    padding-top: 2px;
    outline: none
}

#payment-form-wrapper .billing-info .form-item .form-select:focus {
    outline: none
}

#payment-form-wrapper .with-state .form-item-country {
    width: 60%;
    display: inline-flex;
    margin-right: 15px;
}

#payment-form-wrapper .form-item-state {
    display: none
}    

#payment-form-wrapper .with-state .form-item-state {
    width: 35%;
    display: inline-flex;
}    

#payment-form-wrapper .price-wrapper {
    text-align: center;
}

#payment-form-wrapper .price-wrapper h2 {
    margin-bottom: 10px
}

#payment-form-wrapper .price-wrapper .price {
    font-weight: bold
}

#payment-form-wrapper #card-element {
    background: #fff;
    border: 1px solid #ddd;
    padding: 3px
}

#payment-form-wrapper #payment-methods,
#payment-form-wrapper .payment-element-wrapper {
    display: none;
}

/*#payment-form-wrapper #payment-methods.visible,*/
#payment-form-wrapper .visible {
    display: block
}

#payment-form-wrapper .form-submit-wrapper {
    padding: 10px 0 0 0;
    text-align: center;    
}

#payment-form-wrapper #payment-methods.visible {
    display: flex;
    border-bottom: 3px solid #5974a3;
    margin-bottom: 10px
}

#payment-form-wrapper #payment-methods ul {
    margin-left: 0;
    margin-bottom: -3px;
    
}

#payment-form-wrapper #payment-methods ul li {
    display: inline-block;
    min-width: 60px;
    list-style: none;
    list-style-image: none;
    margin-right: 5px;
    text-align: center;
    padding-bottom: 3px;    
}

#payment-form-wrapper #payment-methods ul li:hover {
    cursor: pointer
}

#payment-form-wrapper #payment-methods ul li label {
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
}

#payment-form-wrapper #payment-methods ul li.active {
    border-bottom: 3px solid #efa740
}

#payment-form-wrapper #payment-methods ul li.active label {
    color: #5974a3
}    

#payment-form-wrapper .card-errors {
    font-size: 14px;
    font-family: roboto;
    font-weight: normal;
    color: red;
    padding-top: 5px;    
    text-align: center;
}

.payment-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(255,255,255,0.9);
  display: none
}

.payment-overlay .payment-overlay-mess {
position: fixed;
top: 50%;
left: 50%;
width: 250px;
height: 100px;
margin-left: -125px;
margin-top: -50px;
text-align: center;
font-family: roboto;
font-size: 16px;
line-height: 30px;    
border: 1px solid orange;
box-sizing: border-box;
padding-top: 15px;
box-shadow: 2px 0 15px #ccc;
background: #fff;
}

#payment-form-wrapper .poweredby {
    text-align: center;
    font-size: 14px;
    line-height: 15px;
    color: #777;
    padding-top: 15px;
}

#payment-form-wrapper #agree-errors,
#payment-form-wrapper #address-errors,
#payment-form-wrapper #card-errors {
    color: red;
    font-size: 14px;
    font-family: Roboto;
    padding-top: 5px;
    text-align: center;
    background: rgba(255,0,0, 0.05);
    padding-bottom: 5px;
    margin-left: -12px;
    margin-right: -12px;
    display: none;
}

#payment-form-wrapper .hidden {
    display: none
}

#payment-form-wrapper #edit-choice label {
    margin-top: 1px;
    margin-left: 7px
}

#payment-form-wrapper .form-submit-wrapper {
    margin-bottom: 30px
}

#payment-form-wrapper .cards-types {
    padding-top: 10px;
    text-align: center;
    /*padding-right: 12px;*/    
    padding-bottom: 10px
}

#payment-form-wrapper input#edit-submit {
    width: 100%;
    box-shadow: 0 1px 3px 0 rgba(50, 50, 93, 0.15), 0 4px 6px 0 rgba(112, 157, 199, 0.15) !important;        
}

#payment-form-wrapper .form-item-country .field-prefix {
    display: flex;
    width: 27px;
    margin-left: 20px;
}

#payment-form-wrapper .form-item-country .field-prefix img {
    width: 100%;
    height: auto;
    display: block;    
}

#payment-form-wrapper #alipay-element {
    padding-bottom: 10px
}

#payment-form-wrapper .form-item-agree-to-terms label {
    font-size: 14px !important;
    text-align: left;
    line-height: 18px;
    padding-top: 2px;   
    max-width: 432px;
    margin-left: 5px;    
}