:focus {outline: none !important;}

* {
    box-sizing: border-box
}

html,
body {
  height: 100%;
}
#page  {
  position: relative;
  min-height: 100%;
  padding: 0 !important;
  padding-bottom: 35px !important;
}

#page  #content {
    padding-bottom: 30px;
}

#main-content {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: #5974a3;
  border-top: 2px solid #efa740;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}

#footer span {
    display: inline-block;
    margin-top: 5px
}


body {
    font-family: Roboto
}

p {
    font-family: Roboto;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    font-weight: 300    
}

input.form-autocomplete, input.form-text, input.form-file, textarea.form-textarea, select.form-select {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 300
}

body.adminimal-skin-material.page-user-campaigns .form-item label {
    font-family: Roboto, sans-serif;
    font-weight: 300 !Important;
    font-size: 18px !important;    
    line-height: 22px
}

body.adminimal-skin-material.page-user-campaigns .column-switcher .form-item label {
    font-size: 16px !important
}    

.total-row b {
    font-size: 12px    
}

div.description, .form-item div.description {
    font-size: 14px;
    font-weight: 300;
    color: #333
}

div.description, .form-item div.description b {
    font-weight: 400
}

input#edit-submit {
    padding: 7px 18px 6px 18px;
    background: #73c394;
    position: relative;
    border-radius: 0
}

input#edit-submit:hover {
    background: #66ba89;
    box-shadow: none
}

input.form-submit:before {
    display: inline-block;
    margin-right: .5em;
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    colo: #fff
}

body.adminimal-skin-material,
body.adminimal-skin-material #page {
    background: #fff
}

/*body.adminimal-skin-material #page {
    border-top: 1px solid #5974a3;
}*/

body.adminimal-skin-material #branding {
    background: #5974a3 !important;
    min-height: 40px;
    border-bottom: 2px solid #efa740;
    box-shadow: none;
    border-top: 1px solid #efa740
}

body.adminimal-skin-material #branding h1.page-title {
  font-size: 22px !important;
  line-height: 46px !important;
  padding: 0 !important;
  color: #fff;
  font-weight: 300;
}

body.adminimal-skin-material a {
    color: #5974a3
}

#topper {
    background: #fcfcfc
}

#topper .user-small-menu {
    float: right;
}

#topper .small-logo {
    padding: 0 20px;
    padding-top: 3px
}

#topper .user-small-menu ul {
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 0
}

#topper .user-small-menu ul li {
    display: inline-block;
    list-style: none;
    list-style-image: none;
    border-right: 1px solid #efefef;
    color: #777
}

#topper .user-small-menu ul li:last-child {
    border-right: none
}

#topper .user-small-menu ul li i {
    margin-right: 0
}

#topper .user-small-menu ul li.user-mail {
    padding: 5px 10px;
    padding-left: 0
}

#topper .user-small-menu ul li i {
    font-size: 16px;
    color: #5974a3;
}

#topper .user-small-menu ul li a {
    display: block;
    padding: 5px 10px;
}

#topper .user-small-menu ul li.user-mail i {
    margin-right: 7px
}

#topper .user-small-menu ul li.ulink:hover {
    background: #5974a3
}

#topper .user-small-menu ul li.ulink:hover i {
    color: #fff
}


#branding div.block {
    width: auto !important;
    background: transparent !important
}

.page-node-45 #branding div.block {
    height: 42px !important
}

.mobile-header h1 {
    font-weight: 300
}

.bradcrubms {
    position: relative;
    top: 10px;
    color: #555;
    padding: 0 20px
}

.bradcrubms .last-bc {
    color: #888
}

table td {
    color: #333
}

table td, table th {
  border-right: 1px solid #eee !important;
  border-bottom: 1px solid #eee !important;
}

    
#lx-domains-admin-cmp-search-form .form-item {
    display: inline-block;
    padding: 10px
}

#lx-domains-admin-cmp-search-form .form-item:first-child {
    padding-left: 0
}

.front.not-logged-in #page,
.front.not-logged-in #page #content,
.front.not-logged-in #page #content #content-wrapper,
.front.not-logged-in #page #content .region-content {
    height: 100% !important
}

.logged-in .block-user,
.not-logged-in .block-user {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.18);
    box-sizing: border-box;
    height: 298px;
    left: 50%;
    margin-bottom: 20px;
    margin-left: -150px;
    margin-top: -150px;
    padding: 20px;
    position: relative;
    top: 45%;
    width: 300px;
    transition: all 0.5s ease-in-out 0s
}

.logged-in .req-pass,
.not-logged-in .req-pass {
    height: 200px;
    margin-top: -100px;
    top: 45%;
}

.logged-in .req-pass {
    height: 160px;
}

.logged-in .req-pass {
    height: 160px;
}

.not-logged-in .user-reg {
    height: 550px;
    margin-top: 100px
}


.not-logged-in .user-reg .password-strength {
    display: none
}

.not-logged-in .user-reg .password-suggestions.description {
    width:0px;
    height: 0px;
    overflow: hidden !important;
    padding: 0;
    border: none;
    margin: 0;
    position: absolute
}

.not-logged-in .user-reg .form-item {
    margin-bottom: 0
}

.not-logged-in .user-reg input.password-confirm, 
.not-logged-in .user-reg input.password-field {
    margin-bottom: 0
}


.not-logged-in .user-reg .form-item-pass .form-text {
    width: 259px
}

.not-logged-in .user-reg div.password-confirm {
    position: absolute;
    top: 92px;
    left: 148px;    
    float: none
}

.not-logged-in .user-reg .ok {
    color: green
}

.logged-in .field-name-field-mail-subscription,
.not-logged-in .user-reg .field-widget-mailchimp-lists-select {
    display: none
}

.logged-in  .block-user h2,
.not-logged-in .block-user h2 {
    left: 53px;
    line-height: 10px;
    padding-bottom: 10px;
    position: absolute;
    text-align: center;
    top: -30px;
}

.logged-in .req-pass h2,
.not-logged-in .req-pass h2 {
    left: 47px;
}

.logged-in .block-user:hover,
.not-logged-in .block-user:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.28)
}

.not-logged-in .block-user .form-text {
    width: 100%;
    height: 40px;
    font-size: 18px
}

.not-logged-in .block-user .form-item {
    padding-right: 0;
    margin-bottom: 20px
}

.not-logged-in .block-user .form-actions {
    margin-top: 30px
}

.logged-in .block-user .form-submit,
.not-logged-in .block-user .form-submit {
    font-size: 18px;
    height: auto;
    padding: 10px 0 !important;
    width: 100% !important;
}    

.not-logged-in .block-user .item-list {
    bottom: 10px;
    position: absolute;
}

.not-logged-in  .block-user .captcha {
    position: relative;
    margin-left:-21px
}

.rc-anchor-light {
    box-shadow: none !important;
    border: none !Important
}

.req-pass  .item-list {
    
}

.not-logged-in .block-user .item-list ul {
    padding: 0;
    margin: 0;
    margin-left: 62px
}

#block-user-login .item-list ul li.first {
    margin-left: 9px
}

.not-logged-in .block-user.user-reg  .item-list ul {
    margin-left: 80px
}

.not-logged-in .block-user.req-pass .item-list ul {
    margin:  0 0 0 77px
}


.not-logged-in .block-user .item-list ul li {
    list-style-image: none;
    list-style-type: none;
}

.page-user-password #page {
    height: 100%
}

#contact-site-form .form-item,
.not-logged-in #content .region-content .block-user .form-item {
    margin-bottom: 0;
    height: 35px
}

#contact-site-form .form-item.form-type-textarea {
    height: auto
}



#contact-site-form label,
.not-logged-in #content .region-content .block-user form label {
    float: left;
    width: 150px;
    color: #555    
}

#user-login-form #edit-actions,
#user-pass #edit-actions,
#user-pass #edit-actions,
#contact-site-form #edit-actions {
    text-align: right
}

#user-login-form  .form-submit,
#user-pass #edit-actions  .form-submit,
#contact-site-form #edit-actions .form-submit {
    margin-right: 0
}

#contact-site-form .form-text,
.not-logged-in #content .region-content .block-user form .form-text {
    float: left;
    width: 200px;
}

.not-logged-in #content .region-content .block-user form .item-list li {
    list-style: outside none none;
    position: absolute;
    top: 32px;
    right: 23px;
    font-size: 10px;
}

.not-logged-in #content .region-content .block-user form .item-list li a {
    color: #555
}

#block-block-1 .content {
    text-align: center;
}

#block-block-1 .content a {
    color: #777 !important
}

.captcha {
    clear: both;
    float: none;
    margin-left: 2px;
    display: block
}

#contact-site-form .captcha {
    margin-left: 3px;
}

.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 1px solid red;
}

.field-err-mess {
    clear: both;
    color: red;
    display: block;
    float: none;
    padding-top: 2px;
    font-size: 11px;
}

.page-contact .field-err-mess,
.not-logged-in .field-err-mess {
    text-align: right;
}    

#block-lx-domains-cmp-clientmenu .content li {
    background: transparent none repeat scroll 0 0;
    border-radius: 0;
    display: block;
    float: left;
    list-style: outside none none;
    margin-right: 5px;
    /*transition: all 0.3s ease-in-out 0.1s;*/
}

#block-lx-domains-cmp-clientmenu .content li.last {
    margin-right: 0
}


#block-lx-domains-cmp-clientmenu .content li a {
    border: medium none !important;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 5px 10px;
    text-transform: none !important;
    transition: none 0s ease 0s;
    /* font-weight: bold; */
    font-family: Roboto;
    font-weight: 400
}

i.fa {
    margin-right: 8px
}

/*#user-profile-form #edit-timezone {
    display: none
}*/

#block-lx-domains-cmp-clientmenu .content ul {
    margin-top: 9px !important
}

#block-lx-domains-cmp-clientmenu .content ul li.active,
#block-lx-domains-cmp-clientmenu .content ul li:hover {
    background: #fff
}

#block-lx-domains-cmp-clientmenu .content ul li a.active,
#block-lx-domains-cmp-clientmenu .content ul li:hover a {
    text-decoration: none;
    text-decoration: none;
    text-shadow: none;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    color: #5974a3 !important;
}


form .alldis .form-type-radio {
    display: inline-block;
    margin-right: 20px
}

form .alldis .form-type-radio:last-child {
    margin-right: 0
}

.front h1.page-title {
    padding-bottom: 10px;
    font-size: 24px !important;
    float: none;
    text-align: center;
    display: block;
    width: 100%;
}

.breadcrumb {
    display: none
}

/*.page-user-campaigns ul.action-links {
    float: left
}*/

ul.action-links {
    margin-top: 0 !important
}

#lx-domains-cmp-form #edit-general-fs {
    position: relative;
    width: 600px;    
    padding-right: 0
}

#lx-domains-cmp-form #edit-general-fs .form-item {
    padding-right: 0;
    padding-top: 32px
}

#lx-domains-cmp-form #edit-general-fs input.form-text {
    width:100%;
    box-sizing: border-box;
}

#lx-domains-cmp-form .form-item  {
    padding-top: 1em
}

#lx-domains-cmp-form .form-item-name {
    margin-bottom: 50px
}

#lx-domains-cmp-form .form-item-money-page {
    padding-top: 40px;
    /*border-top: 1px dashed #ccc*/
}

#lx-domains-cmp-form  #time-display {
    padding-top: 1em;
    padding-bottom: 1em
}

#lx-domains-cmp-form  #time-slider {
    margin-bottom: 2em
}

#lx-domains-cmp-form div.vertical-tabs fieldset.vertical-tabs-pane > legend {
    border-bottom: 2px solid #efa740;
    display: inline-block !important;
    margin: 0;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    font-size: 24px;
    font-weight: 300;
    width: auto;
    background: transparent
}
    

#lx-domains-cmp-form .form-item-safe-page-send-params,
#lx-domains-cmp-form .form-item-money-page-send-params {
    padding-top: 0
}

/*#lx-domains-cmp-form .form-item-safe-page-send-params input.form-checkbox,
#lx-domains-cmp-form .form-item-money-page-send-params input.form-checkbox {
  margin-right: 5px;
  margin-top: 1px;
  position: absolute;
  width: 10px;
}*/

 

body.adminimal-skin-material #lx-domains-cmp-form  fieldset {
  padding-top: 72px;
  
}

#lx-domains-cmp-form .os-select {
    clear: both;
    float: none;
    padding-left: 30px;
    margin-bottom: 0;
}

#lx-domains-cmp-form .form-item-check-device-desktops label,
#lx-domains-cmp-form .form-item-check-device-tablets  label,
#lx-domains-cmp-form .form-item-check-device-smartphones  label,
#lx-domains-cmp-form .form-item-check-device-smarttv  label,
#lx-domains-cmp-form .form-item-check-device-gameconsoles  label{
    font-weight: bold
}

#lx-domains-cmp-form .os-select .form-item {
    float: left;
    padding-top: 0;
    margin-right: 30px;
    margin-bottom: 10px
}

#lx-domains-cmp-form .os-select .form-item label {
    font-size: 13px;
}

#lx-domains-cmp-form .form-item.form-type-radios {
    padding-top: 0
}

#lx-domains-cmp-form #time-display {
    font-size: 16px
}

#lx-domains-cmp-form #time-display #cur-time {
    font-weight: bold
}

#lx-domains-cmp-form .selected .selected-itm {
    background: #5974a3 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    padding: 3px 6px 3px 8px;
    margin-right: 10px;
    margin-bottom: 10px
}

#lx-domains-cmp-form .selected .selected-itm .del-itm-selected {
    border-bottom: medium none !important;
    border-left: 1px solid #fff;
    color: #fff !important;
    display: inline-block;
    font-size: 16px;
    padding-left: 3px;
}

#lx-domains-cmp-form .selected .selected-itm .del-itm-selected:hover {
    text-decoration: none !important
}

#lx-domains-cmp-form div.vertical-tabs ul li.vertical-tab-button .summary {
  color: #666;
  display: block;
  font-size: 0.846em;
  padding-top: 0.4em;
  font-size: 12px;
  line-height: 16px;
}

span.percent {
    color: #888
}

.graf-1,
.graf-2 {
    width: 50%
}

.graf-1 {
    float: left;
}

.graf-2 {
    float: right;
}

body.adminimal-skin-material fieldset {
    transition: ease-in-out 0.5s;
    box-sizing: border-box;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    background: rgba(230, 236, 246, 0.5);
    border-radius: 0
}

body.adminimal-skin-material fieldset.white-bg {
    background: rgba(230, 236, 246, 0.1) !important
}


body.adminimal-skin-material fieldset:hover {
   box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}    

body.adminimal-skin-material fieldset.white-bg:hover {
    background: #fff;
}    


body.adminimal-skin-material fieldset.table-fs {
    box-shadow: none;
    border-radius: 0
}


body.adminimal-skin-material fieldset.pad22 {
    padding-top: 22px !important
}

body.adminimal-skin-material fieldset.pad12 {
    padding-top: 11px !important
}

body.adminimal-skin-material #lx-domains-cmp-filter fieldset.pad12 {
    padding-bottom: 11px
}    

body.adminimal-skin-material #lx-domains-cmp-filter .form-item {
    margin-bottom: 0
}

body.adminimal-skin-material #lx-domains-cmp-filter .form-item-name {
    width: 100%;
    display: flex
}

body.adminimal-skin-material #lx-domains-stat-dates label span {
    display: none
}

body.adminimal-skin-material #lx-domains-stat-dates label i.fa,
body.adminimal-skin-material #lx-domains-cmp-filter .form-item-name i.fa {
    top: 5px;
    position: relative;
    opacity: 0.7;
    font-size: 20px;
    color: #5974a3
}

body.adminimal-skin-material #lx-domains-stat-dates label i.fa {
    top: 0
}

body.adminimal-skin-material #lx-domains-cmp-filter .form-item-name .rem-ttl {
    display: none
}

body.adminimal-skin-material #lx-domains-cmp-filter .fieldset-wrapper {
    display: flex
}

body.adminimal-skin-material #lx-domains-cmp-filter #edit-name {
    width: 100%;
    min-width: 200px;
}

body.adminimal-skin-material #lx-domains-cmp-filter .form-item-status {
    display: flex
}

body.adminimal-skin-material #lx-domains-cmp-filter .form-submit {
    display: flex;
    font-size: 14px
}



body.adminimal-skin-material fieldset.nobotpad {
    padding-bottom: 0 !important
}

.pre-graphs-txt {
    font-weight: bold;
    margin-bottom: 10px
}
.operations {
    position: relative
}

.operations ul {
    background: #0971dc none repeat scroll 0 0;
    border-radius: 3px 0 3px 3px;
    display: none;
    margin: -2px 0 0 !important;
    min-width: 80px;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    width: auto;
    z-index: 1000;
}

.operations ul.width-174 {
    width: 174px;
}

.operations ul li {
    list-style: inside none none;
    padding: 2px 5px;
}

.operations ul li:hover {
    background: #0e66c0;
}

.operations ul li a:hover {
    text-decoration: none !important
}

.operations ul li span {
    font-weight: bold;
    text-decoration: none
}

.operations ul li.no-hover:hover{
    background: transparent;
}       

.operations ul li a {
    border: medium none !important;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 14px;
    text-transform: none !important;
    transition: none
}

.operations ul li.lev-2 a {
    padding-left: 10px
}


table td .operations ul {
  background: #0971dc none repeat scroll 0 0;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid #fff !important;
  display: none;
  margin: -3px 0 0 !important;
  min-width: 80px;
  padding: 0;
  position: absolute;
  right: 0;
  width: auto !important;
  z-index: 1000;
  min-width: auto;
  box-shadow: 1px 2px 5px #777
}

body.adminimal-skin-material #page table td .operations a {
  font-size: 13px;
  text-transform: uppercase;
}

body.adminimal-skin-material div.status {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.18)
}

body div.error {
  background-color: #fef5f1 !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.18);
}


/*.operations:hover ul {
    display: block;
    transition: all 0.3s ease-in-out 0.1s
}    */

body.adminimal-skin-material table tbody td .operations ul li a {
    padding: 0
}

body.adminimal-skin-material tr.even {
    background: #fcfcfc !important
}

.full-stat-table tr.even td:nth-last-child(2),
.full-stat-table tr.even td:nth-child(2)
{
    background: #f0f0f0 
}

.full-stat-table tr.odd td:nth-last-child(2),
.full-stat-table tr.odd td:nth-child(2) {
    background: #fafafa 
}

.adminimal-theme tr.even:hover, .adminimal-theme tr.odd:hover {
  background: #e6ecf6 !important;
}

.full-stat-table tr.even:hover td:nth-child(2),
.full-stat-table tr.odd:hover td:nth-child(2),
.full-stat-table tr.odd:hover td:nth-last-child(2),
.full-stat-table tr.even:hover td:nth-last-child(2) {
    background: #fcbf69 !important
}

tr.total-row td,
tr.total-row {
    background: #fefadb !important;
}


body.adminimal-skin-material .full-stat-table table th.date-td {
    width: 100px
}

body.adminimal-skin-material .full-stat-table table th.tot-blocked-td,
body.adminimal-skin-material .full-stat-table table th.total-td {
    width: 120px
}    
    
.form-item label {
  font-size: 16px !important;
  font-weight: 400 !important;
}

fieldset.display-inline {
    float: left;
    margin-right: 15px
}

#lx-domains-stat-dates {
    clear: both;
    float: none
}

#lx-domains-stat-dates .form-item-enabled-filters,
#lx-domains-stat-dates #edit-submit,
#lx-domains-stat-dates .form-item-period {
    float: left;
    margin-bottom: 0;
}

#lx-domains-stat-dates #edit-submit {
    margin-top: 0
}

#lx-domains-stat-dates .form-item-enabled-filters {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

#lx-domains-stat-dates .form-item-enabled-filters label,
#lx-domains-stat-dates .form-item-period label {
    /*clear: both;*/
    float: none;
    display: inline
}

#lx-domains-stat-dates .form-item-enabled-filters .form-checkboxes label {
    display: inline;
    font-size: 13px !important;
}

#lx-domains-stat-dates .form-type-checkboxes .form-checkboxes {
    display: inline-block;
    padding-top: 12px
}

#lx-domains-stat-dates .form-item-enabled-filters .form-checkboxes input {
    width: 12px;
    height: 12px
}

#lx-domains-stat-dates .form-item-enabled-filters .form-checkboxes .form-type-checkbox {
    border-radius: 3px;
    margin-right: 5px;
    padding: 3px 5px 1px 1px;    
}

.operations {
    background: #0971dc none repeat scroll 0 0;
    display: inline-block;
    border-radius: 3px;   
    
}

.operations span {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;    
}

.operations li span {
    padding: 0
}

.operations:hover span {
    /*color: #cae5fe;*/

}

.operations-float-right {
    float: right;
    margin-top: 0
}

fieldset.table-fs {
    padding: 0 !important;    
}

fieldset.table-fs table {
    margin-bottom: 0
}

body.adminimal-skin-material table th {
  font-size: 14px !important;
}

table td, table th {
  padding: 3px 5px !important;
}

table.cmp-list-table td {
    padding: 5px !important
}

.mobile-icon {
  display: none;
}

.column-switcher {
  padding: 10px;
  width: 100%;
  padding-bottom: 0;
}

.column-switcher .show-hide-txt,
.column-switcher .form-item {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding-right: 10px !important
}

.column-switcher .show-hide-txt {
    margin-right: 0;
    display: block;
    font-size: 20px;
    font-weight: normal;
    padding-right: 5px !important;
    line-height: 30px;
    color: #5974a3;
    opacity: 0.7;
    position: relative;
    top: 7px;
    position: absolute
}

.column-switcher .column-switcher-chbxs {
    padding-left: 30px
}

.column-switcher .form-item label {
    display: inline;
    font-size: 13px !important
}


.long-trimmed {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
    width: 200px;
    display: block;
    cursor: pointer
}
  

#lx-domains-cmp-log-filters .form-item {
    margin-right: 25px
}

#lx-domains-cmp-log-filters .operations-float-right {
    display: none
/*  float: right;
  margin-left: 40px;
  margin-top: 0*/
}

body.adminimal-skin-material table {
    border-top: none !important
}

body.adminimal-skin-material table th {
    background: #284d8d none repeat scroll 0 0 !important;
    color: #fff !important;
    font-family: Roboto;
    font-size: 14px !Important;
    padding: 3px !important;
    border-right: 1px solid #284d8d !important;
    border-bottom: none !important;
}

body.adminimal-skin-material table th span {
    font-size: 9px
}

.ui-datepicker table {
    margin: 0 !important
}

#ui-datepicker-div {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #fec003 !important;
  margin: 0;
  padding: 0;
  width: 280px;
  box-shadow: 1px 1px 5px #000
}

.ui-datepicker-calendar td,
.ui-datepicker-calendar th {
    padding: 0 !important;
    background:  #fff !important
}

.ui-datepicker-calendar .ui-state-disabled, 
.ui-datepicker-calendar .ui-widget-content 
.ui-datepicker-calendar .ui-state-disabled, 
.ui-datepicker-calendar .ui-widget-header 
.ui-datepicker-calendar .ui-state-disabled {
  background-image: none;
  opacity: 0.15 !important;
}

.ui-datepicker-calendar .ui-state-default, 
.ui-datepicker-calendar .ui-widget-content 
.ui-datepicker-calendar .ui-state-default, 
.ui-datepicker-calendar .ui-widget-header 
.ui-datepicker-calendar .ui-state-default {
  background: #fff !important
}

body.adminimal-skin-material table.ui-datepicker-calendar th {
  border-right: none !important;
}

body.adminimal-skin-material table.ui-datepicker-calendar tbody td a {
    font-size: 14px
}

body.adminimal-skin-material table.ui-datepicker-calendar .ui-state-active, 
body.adminimal-skin-material table.ui-datepicker-calendar .ui-widget-content .ui-state-active, 
body.adminimal-skin-material table.ui-datepicker-calendar.ui-widget-header .ui-state-active,
body.adminimal-skin-material table.ui-datepicker-calendar tbody td a:hover {
    color: #000 !important;
    background: #eee !important;
    border-radius: 0 !important;
    text-decoration: none
}

.pager {
    position: absolute;
    right: 0;
}

.pager li {
    display: inline-block !important
}

.pager li a {
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #5974a3 !important;
    display: block !important;
    font-size: 24px;
    font-weight: 300;
    opacity: 1;
    padding: 3px 8px;
    position: relative;
    text-align: center;
    text-shadow:none;
}

li.pager-current {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background: #transparent none repeat scroll 0 0 !important;
    border: none !important;
    border-image: none !important;
    border-radius: 0;
    box-shadow: none;
    display: inline-block !important;
    font-size: 24px;
    margin-left: 3px !important;
    padding: 5px !important;
    position: relative;
    top: 0;
    color: #dd870b;
    font-weight: 400;
}

.item-list .pager li.last {
    padding-right: 0
}

.pager li.last a {
    padding-right: 0
}

.pager li a:hover {
    box-shadow: none;
    opacity: 1;
    text-decoration: none
}

.pager li.last i.fa {
    margin-right: 0
}

.item-list .pager li {
    /*padding: 0 !important;*/
    margin-bottom: 30px !important
}

#lx-domains-cmp-form {
    box-shadow: none;
    padding-bottom: 10px;
}

#lx-domains-cmp-form .vertical-tabs-pane {
    background: transparent;
}

#lx-domains-cmp-form .form-submit {
    margin-left: 0;
    border-radius: 0;
    font-size: 18px;
    float: right
}

td .name .cid {
    color: #333;
    font-size: 12px;
    display: block;
    float: right;
    font-family: Courier New
}

.td-actions {
    width: 225px !important;
}

tbody .td-actions {
    opacity: 0.7;
}    

tbody tr:hover .td-actions {
    opacity: 1
}    

.appended-btns {
    text-align: right
}

.appended-btns a,
.td-actions a {
    padding: 2px !important;
    font-size: 18px;
    border-radius: 0 !important
}

.appended-btns a,
.td-actions a {
    margin-right: 10px;
}

.appended-btns a:last-child,
.td-actions a:last-child {
    margin-right: 0
}

.appended-btns a i,
.td-actions a i {
    margin-right: 0
}

.td-created {
    width: 105px
}

.td-total {
    width: 125px
}

.td-status {
    width: 140px
}

.td-text-right {
    text-align: right
}

.td-stat {
    width: 21px;
    position: relative
}

body.adminimal-skin-material .td-stat a {
    padding: 0 !important;
    font-size: 18px;
    padding: 2px !important;
    color: #dd870b;
    border-radius: 0
}

.td-stat a i {
    margin-right: 0;
}

.td-stat img {
    width: 21px !important;
    max-width: 21px !important;
    height: 20px !important;
}

table td .short_stat {
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: none;
    margin-left: -277px;
    padding: 5px;
    position: absolute;
    margin-top: -28px;
    width: 260px;
    z-index: 100;
    display: none;
    bottom: 0;
    border: 1px solid #dd870b
} 

table td .short_stat table {
    opacity: 0.95;   
}

table td .short_stat .overflow-fix {
    background: #dd870b
}

table td.log-link {
    width: 41px
}

table td .short_stat:after {
display: none
}

table td .short_stat.visible {
    display: block
}

body.adminimal-skin-material table td .short_stat table {
    border: none !important
}

body.adminimal-skin-material table td .short_stat table th:last-child,
body.adminimal-skin-material table td .short_stat table td:last-child {
    border-right: none !important;
    text-align: right
}

body.adminimal-skin-material table td .short_stat table tr:last-child td {
    border-bottom: none !important
}

body.adminimal-skin-material table td .short_stat table th {
    background: #f2b358 none repeat scroll 0 0 !important;
    border-bottom: none !important;
    border-left: medium none !important;
    color: #fff !important;
    font-weight: 400 !important;
    border-right: none !important;
    font-size: 14px !Important;
}

div.vertical-tabs ul li.selected a, div.vertical-tabs ul li.selected a:hover, 
div.vertical-tabs ul li.selected a:focus, div.vertical-tabs ul li.selected a:active {
    border-left: 5px solid #57a6b0;
}

div.vertical-tabs {
    border-left: none;
    background: rgba(230, 236, 246, 0.1);
}

body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button {
    background: #fff;
}

body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button.first {
    position: relative;
    top: -1px;
}

body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button.last {
    position: relative;
    bottom: -1px;
}

body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button.last.selected,
body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button.first.selected {
    top: 0
}

div.vertical-tabs .vertical-tabs-list,
body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button a {
    background: #fff !important
}    

body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button strong {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 300;
    color: #5974a3 !important
}

body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button a {
    opacity: 0.7
}

body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button.selected a {
    opacity: 1;
    background: rgba(230, 236, 246, 0.1) !important;
}

body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button.selected strong {
    font-weight: 400;
    font-size: 20px;
}    

body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button.selected sup {
    font-weight: 400
}

body.adminimal-skin-material div.vertical-tabs #edit-general-fs {
    padding-top: 0
}

body.adminimal-skin-material div.vertical-tabs #edit-general-fs legend {
    display: none !important
}    

#branding {
  padding: 0 20px !important;
  padding-left: 20px !important;
  overflow: visible !important
}

/*#block-lx-domains-cmp-clientmenu .content ul {
    margin: 0 !important;
}*/

.status-control .status-control-btn {
    display: inline;
    width: 20px;
    height: 20px;
    overflow: visible;
    margin-right: 5px;
    padding: 0;
    text-indent: 0;
    font-size: 20px;
    color: #ccc
}

.status-control .status-control-btn.is-active {
    background:transparent
}
.status-control .status-control-btn.is-active.active {
    background: transparent;
    color: #3da869
}    

.status-control .status-control-btn.is-under {
    background: transparent 
}
.status-control .status-control-btn.is-under.active {
    background: transparent;
    color: #ec2f2f
}

.status-control .status-control-btn.is-safe {
    background: transparent 
}
.status-control .status-control-btn.is-safe.active {
    background: transparent;
    color: #5e5ee8
}

.status-control .status-control-btn.is-money {
    background: transparent
}
.status-control .status-control-btn.is-money.active {
    background: transparent;
    color: #f79406
}

td .cur-status {float: left}
td .status-control {
    float:right
}

body.adminimal-skin-material.page-user-campaigns ul.action-links {
    float: left
}

body.adminimal-skin-material.page-user-campaigns ul.action-links a {
  background: #ed9c28 none repeat scroll 0 0;
  border-radius: 0;
  box-shadow: none;
  color: #ffffff;
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 20px;
  text-transform: uppercase;
  font-weight: bold
}

body.adminimal-skin-material.page-user-campaigns ul.action-links a:hover {
    background: #dd870b
}

.apender {
    position: relative;
}

.apender .name-sts,
.apender .name-total {
    padding-top: 5px;
    border-top: 1px solid #eee;
    /*margin-top: 5px;*/
}

#block-lx-domains-cmp-clientmenu .content ul a {
    padding: 5px 10px !important
}

.apender .name-sts {
    background: transparent;
    color: #555;
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-top: 15px
}

td .apender .status-control {
    float: none
}

.total-n-safe {
    float: right;
    text-align: right;
}

.total-n-safe .percent {
    font-size: 10px
}

.name.appended {
    font-weight: 400;
    font-size: 16px;
    padding: 5px 8px
}

.is-appended table td {
    border-bottom: 1px solid #eee !important
}

#mfselector-wrapper fieldset {
  box-shadow: none;
  padding-top: 10px !important;
  padding-left: 25px;
}

#lx-domains-cmp-form input.form-checkbox, 
#lx-domains-cmp-form input.form-radio {
    margin-right: 5px
}

.adminimal-skin-material #lx-domains-cmp-form .form-item-money-page .showpage-type, 
.adminimal-skin-material #lx-domains-cmp-form .form-item-safe-page .showpage-type {
    background: url(../images/showpage2.png) no-repeat 0 0 #fff;
    padding-left: 84px
}

.adminimal-skin-material #lx-domains-cmp-form .form-item-money-page .redirect-type, 
.adminimal-skin-material #lx-domains-cmp-form .form-item-safe-page .redirect-type {
    background: url(../images/redirectto2.png) no-repeat 0 0 #fff;
    padding-left: 84px
}

.adminimal-skin-material #lx-domains-cmp-form .form-item-money-page .notdefined, 
.adminimal-skin-material #lx-domains-cmp-form .form-item-safe-page .notdefined {
    background: url(../img/def.png) no-repeat 0 0 transparent;
    padding-left: 77px
}

#lx-domains-cmp-form #edit-filters-fs .form-item {
    margin-bottom: 0
}

#block-lx-domains-cmp-clientmenu .user-wrapper {
    /*background: url(/sites/all/themes/adminimal_theme/images/user-bg.png) repeat-y 0 0 #263238;*/
    color: #fff;
    float: left;
    margin-right: 20px;
    position: relative;
    text-align: right
}

#block-lx-domains-cmp-clientmenu .user-wrapper .user-login {
    font-weight: bold
}

#block-lx-domains-cmp-clientmenu .user-wrapper .buy-btn {
    font-weight: bold;
    color: orange
}

#block-lx-domains-cmp-clientmenu .content ul {
    float: right
}    

#user-profile-form {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.18);
    margin-bottom: 20px;
    padding: 20px;
    position: relative;    
}

.show-full-str {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #455a65;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.18);
    height: auto;
    left: 50%;
    margin-left: -300px;
    padding: 5px;
    position: fixed;
    top: 45%;
    width: 600px;
}

.show-full-str .content-data {
    padding: 5px;
    background: #fefefe;
    word-break: break-all
}

.show-full-str .close-wrapper {
    position: relative;
    height: 0;
}

.show-full-str .close-wrapper a {
    background: #455a65 none repeat scroll 0 0;
    border: 1px solid #455a65;
    border-radius: 100px;
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 21px;
    padding: 1px 8px 3px;
    position: absolute;
    right: -18px;
    top: -20px;
}


.show-full-str .close-wrapper a:hover {
    text-decoration: none
}

.show-full-str {
    display: none
}

.total-found-rows {
    float: right;
    color: orangered
}

#block-block-2 .content p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px
}

.form-item-set-active-after-x-imps .form-text {
    width: 40px;
    max-width: 40px
}


.page-node-45 .quick-menu-wrapper {
    width: 25%;
    float: left;
    padding: 20px
}

.page-node-45 .content h1,
.page-node-45 .content h2,
.page-node-45 .content h3,
.page-node-45 .content h4 {
    font-weight: bold;
}

.page-node-45 .content h1 {
    padding-top: 50px
}

.page-node-45 .content h2 {
    padding-top: 30px
}

.page-node-45 .content h4,
.page-node-45 .content h3 {
    padding-top: 30px
}    

.page-node-45 .content ul.details {
    margin-top: 10px
}

.page-node-45 .content ol li,
.page-node-45 .content ul li {
    margin-bottom: 10px
}

.page-node-45 .content ul li,
.page-node-45 .content ol li,
.page-node-45 .content ol li a,
.page-node-45 .content ul li a {
    font-size: 16px
}

.page-node-45 .content ul li,
.page-node-45 .content ol li {
    color: #585858
}


.page-node-45 .faq-content {
    float: right;
    width: 74%;
    padding: 20px;
}

.page-node-45 .faq-content p {
    font-size: 16px;
    line-height: 24px
}

.page-node-45 .faq-content p.screen {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px
}

.page-node-45 .faq-content img {
    max-width: 80%;
    height: auto
}

.page-node-45 .quick-menu-wrapper ol {
    margin: 1em 0 0.25em 1em;    
}

.page-node-45 .quick-menu-wrapper ul li,
.page-node-45 .quick-menu-wrapper ul li a {
    font-size: 16px
}

.page-node-45 .quick-menu-wrapper ul li ul li,
.page-node-45 .quick-menu-wrapper ul li ul li a {
    font-size: 14px
}

.page-node-45 .quick-menu-wrapper ul li {
    margin-bottom: 5px
}    

.page-node-45 .quick-menu-wrapper ul li ul li {
    margin-bottom: 2px
}

.page-node-45 .quick-menu-wrapper ol li,
.page-node-45 .quick-menu-wrapper ol li a,
.page-node-45 .quick-menu-wrapper ul li ul li ul li,
.page-node-45 .quick-menu-wrapper ul li ul li ul li a {
    font-size: 14px
}

.page-node-45 .content h2.notoppad {
    padding-top: 0
}

span.link {
    color: #2196f3
}


.qick-tip {
    background: transparent;
    width: auto;
    height: auto;
    display: inline-block;
    font-size: 18px;
    color: #758db7;
    margin-left: 10px;
    cursor: pointer
}

.qick-tip:hover {
    color: #5974a3
}

.qick-tip i {
    margin-right: 0;
}

.qtip-default {
    border: 1px solid #efa740;
    background-color: #fff;
    color: #111;
    font-family: Roboto;
    font-size: 13px;
    opacity: 0.98 !important;
    font-weight: 300
}

.qtip-default .qtip-content {
    padding: 5px;
}

.qtip-content p {
    margin-bottom: 8px
}

.qtip-content p.extra-lniks {
    border-top: 1px solid #efefef !important;
    padding-top: 8px;
}

.qtip-content p.extra-lniks a {
    display: block;
    color: #5974a3;
    font-weight: 400;
    margin-bottom: 5px;
}

.qtip-content p.extra-lniks a:last-child {
    margin-bottom: 0
}

.qtip-content p strong {
    font-weight: 400
}

.campaigns-list-page .qtip-default {
    border: 1px solid #F1D031;
    background-color: #fafab4;
    color: #333;
}

.campaigns-list-page .qtip-default .qtip-content {
    text-align: center
}    

.ui-slider-horizontal .ui-slider-range {
    background: #efa740
}

.icheckbox_square-purple, .iradio_square-purple {
    position: relative;
    top: -5px;
    margin-right: 5px
}

#lx-domains-cmp-form .form-item-check-device-desktops,
#lx-domains-cmp-form .form-item-check-device-smartphones {
    margin-bottom: 25px
}

#lx-domains-cmp-form .os-select {
    margin-bottom: 30px
}

.subscription-tariff-info-wrapper .ttl, .subscription-tariff-wrapper .ttl {
    background: #57a6b0
}

body.adminimal-skin-material table th a {
    color: #fff;
    text-decoration: underline
}

body.adminimal-skin-material table th a:hover {
    text-decoration: none
}

table th.active img {
    right: 0;
    margin-left: 10px    
}

table th.active a {
    padding-right: 0
}

.pricing-table.princig-table-flat .plan {
    border-radius: 0
}

.pricing-table.princig-table-flat .plan h3 {
    background: #5974a3;
    text-shadow: none;  
    border-radius: 0
}

.pricing-table h3 .desc {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 10px;
    padding-bottom: 0;
    font-style: normal;
    text-transform: none;
    display: block;
    position: absolute;
    width: 100%    
}

.pricing-table.princig-table-flat .plan h3 span {
    font-weight: 600;
    margin-top: 40px;
    background: transparent 
}

.pricing-table.princig-table-flat .plan ul li {
    padding: 14px 0;
    font-size: 16px
}

.pricing-table .btn {
    background-color: #ed9c28;
    border: none;    
    color: white;
    margin-top: 35px;
    font-size: 18px;
    font-weight: 400 !important;
    font-family: Roboto;    
}

.pricing-table .col-md-3 {
    margin-bottom: 30px
}

.pricing-table .plan:hover {
    box-shadow: none
}

body.adminimal-skin-material.page-tarifs fieldset.pad12 {
    padding: 0 !important;
    background: #fff;
    box-shadow: none !Important;    
}

body.adminimal-skin-material.page-node-45 fieldset.white-bg {
    background: #fff !Important
}

body.adminimal-skin-material.style-checkboxes input[type=checkbox] {
    border-radius: 0
}

body.adminimal-skin-material.style-checkboxes input[type=checkbox], body.adminimal-skin-material.style-checkboxes input[type=radio] {
    border-color: #5974a3;
}

body.adminimal-skin-material.style-checkboxes input[type=checkbox]:checked, body.adminimal-skin-material.style-checkboxes input[type=checkbox]:disabled:checked {
    background: url('../skins/material/images/check.svg') scroll no-repeat 0 0 #5974a3;    
    
}

body.adminimal-skin-material.style-checkboxes input[type=checkbox]:checked, body.adminimal-skin-material.style-checkboxes input[type=checkbox]:disabled:checked, body.adminimal-skin-material.style-checkboxes input[type=radio]:checked, body.adminimal-skin-material.style-checkboxes input[type=radio]:disabled:checked {
    border-color: #5974a3;
}

body.adminimal-skin-material.style-checkboxes input[type=radio]:checked, body.adminimal-skin-material.style-checkboxes input[type=radio]:disabled:checked {
    background: #5974a3;
}

@media (max-width:1399px){	
    #lx-domains-stat-dates .form-item-enabled-filters {
      border-left: none;
      border-right: none;
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #eee;
      width: 100%
    }    
    
    #lx-domains-stat-dates .form-item-enabled-filters .form-type-checkbox {
        display: inline-block;
        width: 125px
    }    
}    
    

@media (max-width:1024px){	
    
   
    
    #block-lx-domains-cmp-clientmenu .user-wrapper {
        margin-right: 60px
    }    
    
    #block-lx-domains-cmp-clientmenu .content ul {
      background: #0088cc none repeat scroll 0 0 !important;
      right: 0 !important;
      top: 40px !important
    }        
    
    #block-lx-domains-cmp-clientmenu .content ul a {
        color: #fff !important
    }
    
    #block-lx-domains-cmp-clientmenu .content ul a:hover {
        color: #fff !important
    }
    
    #lx-domains-admin-cmp-search-form .form-item {
        padding-left: 0;
    }
    
    td .name .cid {
        display: none
    }
    
    .graf-1,
    .graf-2 {
        float: none;
        width: 100%
    }
}    

.mfttl {
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 400;
    font-weight: bold
}


form .field-prefix {
    position: relative
}

form .redir-din-tabs {
  float: right;
  height: 0;
  position: relative;
  top: -29px;
}

body.adminimal-skin-material form .redir-din-tabs a {
    background: transparent url("../images/radios2.png") no-repeat scroll 0 -18px;
    color: #333 !important;
    display: block;
    float: left;
    line-height: 18px;
    margin-left: 20px;
    padding-left: 23px;
    z-index: 10;
    transition: unset !important
}

body.adminimal-skin-material form .redir-din-tabs a:hover {
    text-decoration: none
}

body.adminimal-skin-material form .redir-din-tabs a.seltab {
    background: transparent url("../images/radios2.png") no-repeat scroll 0 0;
    transition: unset !important
/*    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #fff;
    color: #0e9c57 !important;
    font-weight: bold;
    margin-top: -3px;
    opacity: 1;
    padding-bottom: 4px;
    padding-top: 7px;
    position: relative;
    z-index: 100;*/
}

#lx-domains-cmp-form #edit-general-fs input.form-text {
    z-index: 1
}

table th,
table td {
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
}

td.tmp-highlight {
    background: #FFF9C4 !important;
}

.flt-deleted {
    text-decoration: line-through;
}

#ui-datepicker-div {
    /*overflow: hidden !important;*/
    width: 288px !important
}

#ui-datepicker-div .ui-datepicker-title {
    font: 16px/40px 'Tahoma' !important;
    text-shadow: none !important
}

.grag-phone-mess {
    display: none;
    text-align: center
}

#lx-domains-cmp-log-filters .form-item-userip .form-text {
    width: 90px
}

#lx-domains-cmp-log-filters .form-item-selfield {
    margin-right: 0;
    padding-right: 0
}

#lx-domains-cmp-log-filters .form-item-selfieldval {
    margin-left: -4px
}

#lx-domains-cmp-log-filters .form-item-selfieldval .form-text {
    width: 200px
}

#user-profile-form .form-checkbox {
    width:  14px !important;
    height: 15px !important;
}


@media (max-width:988px){	
    #lx-domains-cmp-filter .form-submit {
        margin-top: 0
    }
    
    #lx-domains-cmp-form #edit-general-fs {
      box-sizing: border-box;
      width: 100%;
      padding-right: 10px;
    }    
    
    #lx-domains-cmp-form .form-item-safe-page-send-params, 
    #lx-domains-cmp-form .form-item-money-page-send-params {
        right: 10px
    }
    
    #lx-domains-cmp-form .form-item-safe-page-send-params input.form-checkbox, #lx-domains-cmp-form .form-item-money-page-send-params input.form-checkbox {
      margin-top: 3px;
    }    
    
    #block-lx-domains-cmp-clientmenu .content ul {
      background: transparent none repeat scroll 0 0 !important;
      right: 0 !important;
      top: 9px !important
    }    
    
    #block-lx-domains-cmp-clientmenu .content ul a {
        color: #fff !important;
        font-weight: normal !important;
        font-size: 16px !important;
        padding: 5px 10px;
    }
    
    #block-lx-domains-cmp-clientmenu .content ul a:hover {
        color: #5974a3 !important;
        background: #fff
    }    
    
    .operations ul.width-174.menu-vis {
        border-radius: 5px;
        border-top: medium none;
        box-sizing: border-box;
        left: 50%;
        margin-left: -100px !important;
        position: fixed !important;
        top: 10%;
        width: 200px !important;    
    }    
    
    .operations ul.menu-vis li a,
    body.adminimal-skin-material #page table td .operations .menu-vis a {
      font-size: 20px !important;
      padding: 10px !important;
    }
    
    .operations ul li span {
      font-size: 18px !important;  
    }
    
    #lx-domains-stat-dates .operations ul.width-174.menu-vis {
        border-radius: 5px;
        border-top: medium none;
        box-sizing: border-box;
        left: 50%;
        margin-left: -150px !important;
        position: fixed !important;
        top: 10%;
        width: 300px !important;    
    }     
   
    
}    

@media (max-width: 925px) {
    .page-node-45 .quick-menu-wrapper {
        display: none
    }
    
    .page-node-45 .faq-content {
      float: none;
      width: 100%;
    }    
}    

@media (max-width: 720px) {
    .td-stat {
        display: none
    }
    .td-actions {
        width: 142px !important;
    }
    
    body.adminimal-skin-material table tbody td a {
        margin: 5px;
        margin-top: 10px;        
    }
}    
    
@media (max-width: 690px) {
    
    #branding {
        padding-left: 10px !important;
        padding-right: 0 !important;
        
    }
    
    #topper .small-logo {
        padding-left: 11px
    }
    
    #topper .user-small-menu ul {
        margin-right: 10px
    }
    
    #main-content {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px
    }    
    
    .bradcrubms {
        padding: 0 10px
    }
    
    
    #lx-domains-cmp-form div.vertical-tabs fieldset.vertical-tabs-pane > legend {
        display: none !important
    }
    
    div.resp-tabs .resp-tabs-container .resp-accordion a {
        font-size: 22px;
        font-family: Roboto;
        background: #57a6b0
    }
    
    div.resp-tabs .resp-tabs-container .resp-accordion a strong {
        font-weight: 300
    }
    
    div.resp-tabs .resp-tabs-container .resp-accordion a strong sup {
        font-weight: 400;
    }
    
    div.resp-tabs .resp-tabs-container .resp-accordion {
        border-top: none;
        border-bottom: 1px solid #eee
    }
    
    div.resp-tabs .resp-tabs-container .resp-accordion[aria-controls="tab_item-10"] {
        border-bottom: none
    }
    
    div.vertical-tabs {
        border: none
    }
    
    #lx-domains-cmp-form div.vertical-tabs .resp-tab-content-active {
    background: rgba(230, 236, 246, 0.3);
    margin-bottom: 0;
    }
    
    /*menu*/
    
    #block-lx-domains-cmp-clientmenu .mobile-icon {
        display: block;
        font-size: 30px;
        background: transparent !important;
        position: relative;
        top: 8px !important;
        right:5px !important;        
    }
    
    #block-lx-domains-cmp-clientmenu .mobile-icon a {
        color: #fff
    }
    
    #block-lx-domains-cmp-clientmenu .mobile-icon img {
        display: none
    }
    
    #block-lx-domains-cmp-clientmenu .content ul {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        background: #5974a3 !important;
        width: 100%;
        height: 100%;            
        padding-top: 40px;
    }
    
    #block-lx-domains-cmp-clientmenu .content li {
        float: none;
        text-align: right
    }
    
    #block-lx-domains-cmp-clientmenu .content li i.fa {
        display: none;
    }
    
    #block-lx-domains-cmp-clientmenu .content li.closebtn-wrapper i.fa {
        display: block;
        color: #fff;
        font-size: 24px
    }
    
    #block-lx-domains-cmp-clientmenu .content li a {
        font-size: 28px !important;
        font-weight: 300 !important;
        padding: 25px 10px !important;
    }
    
    #block-lx-domains-cmp-clientmenu .content li.closebtn-wrapper a {
        padding-bottom: 40px !Important;
        padding-top: 10px !Important;
        padding-right: 3px !Important
    }
    
    #block-lx-domains-cmp-clientmenu .content ul li.active,
    #block-lx-domains-cmp-clientmenu .content ul li a.active,
    #block-lx-domains-cmp-clientmenu .content ul li:hover,
    #block-lx-domains-cmp-clientmenu .content ul li a:hover {
        background: transparent !important;
        color: #fff !Important
    }
}



@media (max-width: 640px) {
    .show-full-str {
      left: 0;
      margin-left: 10px;
      position: fixed;
      width: 90%;
    }  
    
    body.adminimal-skin-material.page-user-campaigns ul.action-links {
        float: none;
        width: 100%
    }
    
    body.adminimal-skin-material.page-user-campaigns ul.action-links li {
        float: none;
        margin: 0
    }
    
    body.adminimal-skin-material #lx-domains-cmp-filter .fieldset-wrapper {
        display: block
    }
    
    body.adminimal-skin-material #lx-domains-cmp-filter .form-item {
        margin-bottom: 20px;
        padding: 0
    }
    
    body.adminimal-skin-material #lx-domains-cmp-filter .form-item-name,
    body.adminimal-skin-material #lx-domains-cmp-filter #edit-submit,
    body.adminimal-skin-material #lx-domains-cmp-filter .form-item-status {
        width: 100%;
        display: block
    }
    
    body.adminimal-skin-material #lx-domains-cmp-filter .form-item-status select {
        width: 100%
    }
    
    body.adminimal-skin-material #lx-domains-cmp-filter .form-item-name i.fa {
        display: none
    }
    
    body.adminimal-skin-material.page-user-campaigns ul.action-links a {
        width: 100%;
        padding: 5px 0;
        box-sizing: border-box;
        text-align: center
    }
}

@media (max-width:480px){
    
    #page {
        margin-left: 0;
        margin-right: 0;
    }
    
    .fs-grafs{
        display: none
    }
    
    .grag-phone-mess {
        display: block
    }    
    
    #block-lx-domains-cmp-clientmenu .user-wrapper {
        margin-right: 10px
    }    
    
    body.adminimal-skin-material #branding {
      padding: 0 0 0 10px !important;
    }    
    
    .region-branding {
      margin-right: 10px !important;
    }    
    
    #branding div.block {
        width: 100% !important
    }
    
    #branding .mobile-icon {
      background: #0088cc none repeat scroll 0 0 !important;
    }    
    
    
    #pie {
        min-height: 300px;
        max-width: 100%
    }    
       
    .operations ul.width-174.menu-vis,
    #lx-domains-stat-dates .operations ul.width-174.menu-vis {
        top: 35%
    }    
}

@media (max-width:400px){
    
    #topper .user-small-menu ul li.user-mail {
        display: none
    }
    
    td .cur-status,
    td .status-control {
        float: none
    }    
    
    .apender {
        border-top: 1px solid #eee
    }
    
    .total-n-safe {
        float: none
    }
    
    .total-n-safe div {
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        text-align: left;
        border-top: none !important;
        padding-bottom: 3px;
        padding-left: 5px
    }
    
    .total-n-safe div.name-safe {
        text-align: right;
        padding-left: 0;
        padding-right: 5px
    }
    
    .name-sts {
        text-align: center;
    }
    
    .appended-btns {
        text-align: center;
    }
    
    .xs-hid {
        display: none
    }
}    

@media (max-width:340px){
    
    body.adminimal-skin-material #lx-domains-stat-dates .form-item-period label,
    body.adminimal-skin-material #lx-domains-stat-dates label i.fa {
        margin-right: 0
    }
    
    #lx-domains-stat-dates #edit-submit {
        padding-left: 10px;
        padding-right: 10px
    }
    
    form .redir-din-tabs {
      float: right;
      height: 0;
      position: relative;
      top: -47px;
    }
    
    body.adminimal-skin-material form .redir-din-tabs a {
      background: transparent url("/sites/all/modules/custom/lx_domains_cmp/img/radios.jpg") no-repeat scroll 0 -18px;
      color: #333 !important;
      display: block;
      float: none;
      line-height: 18px;
      margin-bottom: 5px;
      margin-left: 9px;
      padding-left: 23px;
      transition: none 0s ease 0s ;
      z-index: 10;
    }    
    
    
    .hide-479 {
        display: none
    }    
    
    #lx-domains-cmp-filter .form-text {
        width: 256px;
        margin-right: 0;
        padding-right: 0;
    }
    
    #lx-domains-cmp-filter .form-item {
        margin-right: 0;
        padding-right: 0;
    }
    
    form .alldis .form-type-radio {
      display: inline-block;
      margin-right: 5px;
    }    
    
    
    .operations ul.width-174.menu-vis, #lx-domains-stat-dates .operations ul.width-174.menu-vis {
        top:15%
    }
}    