.cmp-warn {
    float: right;
    margin-left: 10px
}

.cmp-warn i.fa {
    color: orange;
    cursor: pointer;
    font-size: 18px;    
}

.cmp-warns-list {
    display: none
}

.warn-p {
    margin-bottom: 5px;
    font-size: 14px
}

.warn-p:last-child {
    margin-bottom: 0
}

.cmp-warn-block {
    border: 1px solid;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
    background: rgba(221,135,11, 0.1);
    border-color: rgba(221,135,11, 0.3);    
}

.cmp-warn-block i.fa {
    margin-right: 0
}