/* 
    Created on : 13.11.2019, 16:39:47
    Author     : lex
*/

.moder-inline-div {
    display: inline-block;
    vertical-align: top;
    margin-right: 100px
}

.moder-page-item {
    margin-bottom: 3px
}

.moder-page-item .ttl {
    display: inline-block;
    width: 200px;
    font-weight: 600;
    vertical-align: top
}

.moder-page-item .val {
    display: inline-block;
    max-width: 800px
}

.moder-page-header {
    margin-top: 30px;
    font-weight: 600
}

.moder-short-stat tbody td:last-child {
    text-align: right
}

body.adminimal-skin-material .moder-short-stat table thead th{
    background: #f2b358 none repeat scroll 0 0 !important;
    border-right: 1px solid #f2b358 !important;
}

.cmp-warnning {
    float: left;
    border: 1px solid #f2b358;
    padding: 5px;
}