#lx-batch-operations-batch-table-form .form-item-batch-operation,
#lx-batch-operations-batch-table-form .form-item-per-page,
#lx-batch-operations-batch-table-form .form-item-batch-operation-bottom,
#lx-batch-operations-batch-table-form .form-item-per-page-bottom
{
    display: inline-block;
}

#lx-batch-operations-batch-table-form .form-item-per-page,
#lx-batch-operations-batch-table-form .form-item-per-page-bottom
{
    float: right;
}

#lx-batch-operations-batch-table-form .form-item-batch-operation-bottom,
#lx-batch-operations-batch-table-form .form-item-per-page-bottom
{
    padding-top: 5px !important;
}

#lx-batch-operations-batch-table-form .form-items-block .form-item {
    margin: 0;
}

#lx-batch-operations-batch-table-form .form-items-block .form-item.form-item-per-page,
#lx-batch-operations-batch-table-form .form-items-block .form-item.form-item-per-page-bottom  {
    padding-right: 0;
}

#lx-batch-operations-batch-table-form .form-items-block-top {
    margin-bottom: 10px;
    display: none
}

#lx-batch-operations-batch-table-form .form-items-block-bottom {
    margin-top: 10px;
}

/* страница конфирмации батч процесса */

body.adminimal-skin-material div#branding h1.page-title {
    padding-right: 40px !important;
    line-height: 30px !important;
    margin: 9px 0 !important;
}

div#block-lx-domains-cmp-clientmenu div.mobile-icon {
    position: absolute !important;
}

div#block-lx-domains-cmp-clientmenu div.mobile-icon i.fa-bars {
    margin-right: 0;
}

div#block-lx-domains-cmp-clientmenu div.content ul {
    margin-bottom: 9px !important;
}

.actions-panel {
    position: relative
}

.batch-ops-btn {
    float: left;
    transition: ease-in-out 0s;
    box-sizing: border-box;
    /*border: 1px solid #d7d8db;*/
    background: #efefef;
    border-radius: 0;
    padding: 0 20px 0 20px;
    margin-right: 15px;
    color: #aaa;
    font-size: 16px;
    position: relative;
    width: 280px;
    display: none;
    margin-bottom: 10px
}

.batch-ops-btn .li-1 {
    padding-top: 18px;
    padding-bottom: 17px;
}

.edit-mode .batch-ops-btn {
    /*background: #57a6b0;*/
    background: #ed9c28;
    color: #fff;   
    display: block
}

.batch-ops-btn:hover {
    cursor: pointer
}   

.batch-ops-list {
    margin: 0 !important;
    max-width: 200px
}

.batch-ops-btn .edit-btn .txt {
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    border: none !important
}

.batch-ops-btn .txt .seled {
    display: inline-block;
    min-width: 20px
}

.batch-ops-btn .txt .seled i.fa {
    margin-right: 0;
    font-weight: 300;
}

/*.batch-ops-btn .edit-btn .fa-sort-desc {
    display: none
}   */

.batch-ops-btn .edit-btn .fa-sort-desc {
    margin-right: 0;
    margin-left: 7px;
    position: relative;
    top: -2px;
}

.batch-ops-btn li {
    list-style: none;
    list-type: none;
    margin-left: 0
}

.ops-list {
    display: none;
    margin: 0 !important
}  

.edit-mode .batch-ops-btn .batch-ops-list:hover .ops-list {
    display: block;
    position: absolute;
    background: #fff;
    font-size: 14px;
    left: 0;
    top: 54px;
    /* top: 0; */
    border-left: 1px solid #ed9c28;
    border-right: 1px solid #ed9c28;
    border-bottom: 1px solid #ed9c28;
    /* z-index: 1000; */
    width: 186px;
    padding-top: 15px;
    box-shadow: 3px 6px 10px -2px #d7d8db,-1px -1px 0px -3px #e3e4e8;
    z-index: 1000;
    opacity: 1;    
}

.edit-mode .batch-ops-btn .ops-list li a { 
    display: block;
    padding: 5px 21px;
    color: #333
}

.edit-mode .batch-ops-btn .ops-list li a.is-active i.fa {
    color: #3da869
}

.edit-mode .batch-ops-btn .ops-list li a.is-under i.fa {
    color: #ec2f2f
}

.edit-mode .batch-ops-btn .ops-list li a.is-safe i.fa {
    color: #5e5ee8
}

.edit-mode .batch-ops-btn .ops-list li a.is-money i.fa {
    color: #f79406
}

.edit-mode .batch-ops-btn .ops-list li a:hover {
    text-decoration: none;
    background: rgba(0,0,0, 0.1)
}   

.edit-mode .batch-ops-btn .ops-list li.no-hover a:hover {
    background: transparent
}


/*.batch-ops-btn .selected-cmps .txt {
    display: none
}*/

.batch-ops-btn .selected-cmps .fa-pencil-square-o {
    position: relative;
    top: 1px;
    font-size: 18px
}

#edit-batch-operation-bottom {
    display: none
}

.close-select {
    background: url(/sites/all/themes/adminimal_theme/images/pop-close.png) no-repeat 50% 50% #ed9c28;
    width: 60px;
    height: 54px;
    text-indent: -9999px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
    border: none;
    z-index: 101;   
}

.edit-mode .action-links {
    display: none
}


@media screen and (max-width: 750px) {
    body.adminimal-skin-material div#branding {
        position: relative;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    body.adminimal-skin-material div#branding div.block {
        position: static;
    }

    div#block-lx-domains-cmp-clientmenu div.mobile-icon {
        top: 9px !important;        right: 20px !important;
    }
}

@media screen and (max-width: 690px) {
    body.adminimal-skin-material div#branding {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    div#block-lx-domains-cmp-clientmenu div.mobile-icon {
        right: 10px !important;
    }
}

#edit-actions #edit-submit,
#edit-actions #edit-cancel {
    display: inline-block;
    margin-bottom: 10px;
    white-space: nowrap;
}

#lx-batch-operations-confirm-form #edit-cancel{
  text-transform:uppercase;
}
#lx-batch-operations-confirm-form {
  line-height: 24px;
  font-size: 16px;
}
@media screen and (min-width: 970px) {
 .cmp-list-table .item-list {
   margin-top: -25px;
 }
}
@media screen and (max-width: 800px) {
 .batch-ops-btn{
   padding-left: 10px;
   padding-right: 10px;
   margin-right: 0;
    margin-bottom: 10px !important;
    float: none;
    /*width: 100%;*/   
 }
}

#edit-per-page-bottom {
  position:relative;
  z-index: 1000;
}

.overlay-over-blured {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.4);
}

.overlay-over-blured-content {
    width: 300px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    height: 130px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -150px;
    color: #000;
    border: 1px solid #efa740;
    box-shadow: 5px 0 35px #5974a3;
    background: #fff
}   

.bg-blured {
    -webkit-filter: blur(4px);
    filter: blur(4px);
}