ul.noty-list {
    margin: 0 !important;
    padding: 0 !important;
}

ul.noty-list li {
    list-style: none;
    list-style-image: none;
    position: relative;
    margin-bottom: 5px
}

ul.noty-list li.even {
    background: #fcfcfc;
    border: 1px solid #efefef
}

ul.noty-list li.just-read,
ul.noty-list li.read {
    opacity: 0.7
}

ul.noty-list li.read:hover {
    opacity: 1
}

ul.noty-list li a.mark-as-read {
    float: right;
    position: relative;
    top: -5px    
}

ul.noty-list li a.mark-as-read i.fa {
    margin-right: 0
}

ul.noty-list li.odd {
    background: #fefefe;
    border: 1px solid #efefef
}

ul.noty-list li .noty-status {
    display: table-cell;
    font-size: 30px;
    width: 40px;
    text-align: center;
    top: 16px;
    vertical-align: top;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 5px;
    box-sizing: border-box
}

ul.noty-list li .noty-status.noty-info {
    color: #73c394;
    background: rgba(115, 195, 148, 0.1);
}

ul.noty-list li .noty-status.noty-alert {
    color: #fdcc20;
    background: rgba(253, 204, 32, 0.1);
}

ul.noty-list li .message {
    display: table-cell;
    font-size: 14px;
    vertical-align: top;
    padding: 10px;
    width: 100%
}

ul.noty-list li .message .date-wrapper {
    font-size: 10px;
    color: #555;
}

ul.noty-list li .message .date-wrapper i.fa {
    margin-right: 3px
}

.noty-pop-win.show-full-str {
    top: 20% !important
}

.noty-pop-win .close {
    z-index: 1
}

.noty-pop-win ul.noty-list li .message {
    font-size: 13px;
    line-height: 16px
}

.noty-pop-win ul.noty-list li.just-read,
.noty-pop-win ul.noty-list li.read {
    opacity: 1
}

.noty-pop-win ul.noty-list li {
    cursor: pointer
}

.noty-pop-win ul.noty-list {
    padding-bottom: 40px
} 

.noty-view-all-wrapper {
    position: absolute;
    bottom: 0;
    background: #fafbfc;
    text-align: center; 
    margin-top: 10px; 
    font-size: 12px; 
    font-weight: bold;
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 12px;
    box-sizing: border-box;
    left: 0
}

/*ul.noty-list li .message .date-wrapper {*/
