.overlay-over-blured-rule {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.4);
}

.overlay-over-blured-content-rule {
    width: 780px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    min-height: 360px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    border: 1px solid #efa740;
    box-shadow: 5px 0 35px #5974a3;
    background: #fff
}

.bg-blured {
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.overlay-over-blured-content-rule .conf-text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px
}

.overlay-over-blured-content-rule .conf-buttons .save-rule {
    display: inline-block;
    font-size: 18px;
    padding: 7px 18px 6px 18px;
    background: #73c394;
    position: relative;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none
}

.overlay-over-blured-content-rule .conf-buttons .save-rule:hover {
    text-decoration: none;
    background: #66ba89;
}

.overlay-over-blured-content-rule .conf-buttons .cancel-popup-rule {
    display: inline-block;
    font-size: 18px;
    padding: 7px 18px 6px 18px;
    background: #e36159;
    position: relative;
    border-radius: 0;
    margin-right: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none
}

.overlay-over-blured-content-rule .conf-buttons .cancel-popup-rule {
    text-decoration: none;
    background: #d34b42
}

.overlay-over-blured-content-rule .conf-buttons{
    float: right;
}

/* Стили таблицы */
#events-table {
    border-top: none !important;
    margin-bottom: 0;
}

#events-table th {
    padding: 6px 5px !important;
    color: #2a4677 !important;
    font-family: Roboto;
    font-size: 14px !Important;
    font-weight: 400;
    border-right: none !important;
    text-transform: uppercase;
    border-bottom: 1px solid #e4e8ef !important;
    border-right: 1px solid #e4e8ef !important;
    background: #f7f8fb !important;
    border-top: 1px solid #e4e8ef;
    vertical-align: middle;
}

#events-table tr.even,
#events-table tr.odd {
    border: 0;
    border-style: solid;
    border-color: #ddd;
    background: #f3f4ee;
    transition: all, 0.15s;
}
#events-table tr.odd {
    background: #FFF;
}
#events-table tr.even {
    background: #fcfcfc;
}
#events-table td {
    border-bottom: none !important;
    padding: 6px 5px !important;
    border-right: 1px solid #eee !important;
    color: #333;
    vertical-align: middle;
}
#events-table .td-status {
    width: 70px;
}

#events-table .td-description {
    width: 290px;
}

#events-table .td-status a i.fa{
    margin-right: 2px;
}

.reset-afilter, .afilter-hidden {
    display:none;
}

/* Add rule button */
ul.action-links{
    float: left;
}

ul.action-links li {
    float: left;
    margin: 0 1em 0 0;
    display: block;
}

body.adminimal-skin-material.page-user-rules ul.action-links a {
    background: #ed9c28 none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: none;
    color: #ffffff;
    display: inline-block;
    font-family: Roboto,sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    font-weight: bold;
}
/* Confirm popup */
.overlay-over-blured-confirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.4);
}

.overlay-over-blured-content-confirm {
    width: 300px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    /* height: 130px; */
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -150px;
    color: #000;
    border: 1px solid #efa740;
    box-shadow: 5px 0 35px #5974a3;
    background: #fff
}

.overlay-over-blured-content-confirm .conf-text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px
}

.overlay-over-blured-content-confirm .conf-buttons .save-confirm {
    display: inline-block;
    font-size: 12px;
    padding: 7px 18px 6px 18px;
    background: #73c394;
    position: relative;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none
}

.overlay-over-blured-content-confirm .conf-buttons .save-confirm:hover {
    text-decoration: none;
    background: #66ba89;
}

.overlay-over-blured-content-confirm .conf-buttons .cancel-popup-confirm {
    display: inline-block;
    font-size: 12px;
    padding: 7px 18px 6px 18px;
    background: #e36159;
    position: relative;
    border-radius: 0;
    margin-right: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none
}

.overlay-over-blured-content-confirm .conf-buttons .cancel-popup-confirm {
    text-decoration: none;
    background: #d34b42
}


.edit-rule-save-form .form-item {
    margin-bottom: 15px;
    text-align: left;
    padding-right: 0;
}
.edit-rule-save-form .form-item label {
    display: inline-block;
    vertical-align: middle;
    font-weight: 500 !important;
}
.edit-rule-save-form .form-item label + .form-item-data {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 100px);
}
.edit-rule-save-form .form-item > label {
    width: 90px;
}
.edit-rule-save-form .form-item > label + select,
.edit-rule-save-form .form-item > label + input {
    display: inline-block;
    vertical-align: middle;
}
.edit-rule-save-form .form-item > input + label {
    width: auto;
}
.edit-rule-save-form .form-item > label + select + select {
    margin-left: 10px;
}

/*.edit-rule-save-form .form-item-hook input {
    width: 100%;
    display: block;
}*/
.edit-rule-save-form .multi-wrapper {
    margin-bottom: 15px;
}
.edit-rule-save-form .multi-wrapper a {
    text-align: left;
}

.overlay-over-blured-content-rule .conf-buttons a.cancel-popup-rule {
    margin-right: 10px;
}
.overlay-over-blured-content-rule .form-item-name input,
.edit-rule-save-form .form-item-hook input,
.overlay-over-blured-content-rule .form-item-campaigns select {
    width: calc(100% - 100px);
}
.overlay-over-blured-content-rule .form-item-data #edit-condition {
    width: 250px;
    margin-right: 30px;
}
.overlay-over-blured-content-rule .form-item-data #edit-time {
    width: 150px;
}
.overlay-over-blured-content-rule .form-item-data #edit-rate {
    margin-right: 30px;
    width: 120px;
}
.overlay-over-blured-content-rule h2 {
    text-align: left;
}
.edit-rule-save-form .form-item label + .form-item-data {
    display: inline-flex;
}


span.ce-error {
    color: red;
    /* padding-left: 164px; */
    float:right;
    font-size: 12px;
}

#events-table tr.new{
    background: #c8ead6 !important;
}

#events-table .td-actions {
    width: 70px !important;
}

#block-system-main .actions-panel a.waves-effect.waves-button:hover
{
    background: #dd870b;
    box-shadow: none;
}

.edit-rule-save-form .ce-form-error{
    border-color: red !important;
}
.edit-rule-save-form #edit-condition {
    font-size:16px;
}

#events-table .last-triggered-td,
#events-table .last-checked-td {
    /* display:block; */
}
#events-table .appender {
    display:none;
}

.last-word {
    padding-top: 6px;
    padding-right: 30px;
    width: 130px;
    text-align: center;
}


@media only screen and (max-width: 1024px) {
    .overlay-over-blured-content-rule {
        width: 580px;
    }

    .overlay-over-blured-content-rule .form-item-data #edit-time {
        width: 21%;
    }

    .overlay-over-blured-content-rule .form-item-data #edit-rate {
        margin-right: 3%;
        width: 23%;
    }

}

@media only screen and (max-width: 768px) {
    #events-table .last-triggered-td,
    #events-table .last-checked-td {
        display:none;
    }
	#events-table .td-description-td,
    #events-table .td-description {
        display:none;
    }
	
	#events-table .td-applied-to,
    #events-table .th-applied-to {
        display:none;
    }
	.td-status .status-control {
		display: inline-flex;
	}
	
    #events-table .appender {
        display:none;
    }
	#events-table .rules-checkboxes {
        display:none;
    }
	
	#events-table tr.even:hover {
		background: #fcfcfc !important;
	}
	
	#events-table tr.odd:hover {
		background: #FFF !important;
	}
	
}

.overlay-over-blured-content-rule h1 span.close,
.form-item-campaigns-results{
  display: none;
}
.overlay-over-blured-content-rule .conf-buttons .apply-sel-camp-changes {
    display: none;
}

@media only screen and (max-width: 580px) {
  .show-popup {
    overflow: hidden;
    height: 100%;
  }
  .overlay-over-blured-content-rule {
    max-width: 100%;
    padding: 0 0 20px;
    border: 0;
    top: 0;
    left: 0;
    transform: none;
    overflow: auto;
    height: 100%;
  }
  .overlay-over-blured-rule.selected-campaigns-window .edit-rule-save-form > .form-item,
  .overlay-over-blured-rule.selected-campaigns-window .edit-rule-save-form h2 {
    display: none;
  }

  .edit-rule-save-form {
    position: relative;
    padding: 0 20px;
  }
  .overlay-over-blured-content-rule h1 {
    padding: 20px;
    margin: 0 -20px 20px;
    background: #5974a3;
    color: white;
  }
  .edit-rule-save-form span.close {
    position: absolute;
    display: block;
    right: 20px;
    top: 29px;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    background: #ed9c28 url('../images/close-white.svg') no-repeat 50% 50%;
    background-size: 80% 80%;
    cursor: pointer;
    border: 1px solid white;
    z-index: 5;
  }
  .edit-rule-save-form .form-item {
    margin-bottom: 20px;
  }
  .edit-rule-save-form .form-item-campaigns-results {
    margin-top: -10px;
  }
  .edit-rule-save-form .form-item-status,
  .edit-rule-save-form .form-item-pause {
    margin-bottom: 6px;
  }
  .edit-rule-save-form .form-item > label {
    display: block;
    width: auto;
  }
  .edit-rule-save-form .form-item > .form-checkbox + label {
    display: inline-block;
  }
  .overlay-over-blured-content-rule h2 {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 25px;
  }
  .overlay-over-blured-content-rule .form-item-name input,
  .edit-rule-save-form .form-item-hook input,
  .overlay-over-blured-content-rule .form-item-campaigns select {
    width: 100%;
  }
  .edit-rule-save-form .form-item label + .form-item-data {
    display: flex;
    flex-flow: wrap;
    width: 100%;
  }
  .overlay-over-blured-content-rule .form-item-data #edit-condition {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .overlay-over-blured-content-rule .form-item-data #edit-time {
    width: 33.333%;
  }
  .overlay-over-blured-content-rule .form-item-data #edit-rate {
    margin-right: 0;
    width: 33.333%;
  }
  .overlay-over-blured-content-rule .form-item-data .last-word {
    padding-top: 6px;
    padding-right: 0;
    width: 33.333%;
    text-align: center;
  }
  .overlay-over-blured-content-rule .conf-buttons {
    float: none;
  }
  .overlay-over-blured-content-rule .conf-buttons {
    float: none;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  .overlay-over-blured-rule.selected-campaigns-window .conf-buttons {
    justify-content: center;
  }
  .overlay-over-blured-rule.selected-campaigns-window .conf-buttons .apply-sel-camp-changes {
    display: inline-block;
    font-size: 18px;
    padding: 10px 20px;
    background: #73c394;
    position: relative;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }
  .overlay-over-blured-rule.selected-campaigns-window .conf-buttons .cancel-popup-rule,
  .overlay-over-blured-rule.selected-campaigns-window .conf-buttons .save-rule {
    display: none;
  }
  .overlay-over-blured-rule.selected-campaigns-window .selected-campaigns {
    display: block !important;
  }

  .form-item-campaigns-results {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
  }
  .form-item-campaigns-results .count {
    padding-left: 8px;
    font-weight: 300;
    color: #5974a3;
  }

  .overlay-over-blured-content-rule .conf-buttons a.cancel-popup-rule,
  .overlay-over-blured-content-rule .conf-buttons a.save-rule {
    padding: 10px 20px;
  }

  .overlay-over-blured-content-rule .multi-wrapper {
    border: 0;
  }
  .overlay-over-blured-content-rule .multi-wrapper .non-selected-wrapper,
  .overlay-over-blured-content-rule .multi-wrapper .selected-wrapper {
    box-sizing: border-box;
    display: block;
    height: 200px;
    overflow-y: scroll;
    padding: 10px;
    width: auto;
    border: 1px solid #ccc;
  }
  .overlay-over-blured-content-rule .multi-wrapper .cmp-select-label {
    max-width: calc(100% - 23px);
  }
  .overlay-over-blured-content-rule .multi-wrapper .selected-wrapper .multi-form-item .icon-close {
    /*//width: 31px;*/
  }
  .overlay-over-blured-content-rule .multi-wrapper .multi-headers-cols {
    display: flex;
    flex-flow: wrap;
  }
  .overlay-over-blured-content-rule .multi-wrapper .multi-headers-cols .search-input {
    width: 100%;
    order: 1;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  .overlay-over-blured-content-rule .multi-wrapper .multi-headers-cols .headers-col {
    width: 100%;
    order: 3;
    border: 0;
    padding: 20px 0;
  }
  .overlay-over-blured-content-rule .multi-wrapper .multi-headers-cols .non-selected-wrapper {
    order: 2;
    width: 100%;
  }
  .overlay-over-blured-content-rule .multi-wrapper .multi-headers-cols .selected-wrapper {
    order: 4;
    width: 100%;
  }
}
