.multi-wrapper {
    border: 1px solid #ccc;
    /* border-radius: 3px; */
    overflow: hidden;
    width: 100%;
}

.multi-wrapper .non-selected-wrapper,
.multi-wrapper .selected-wrapper {
    box-sizing: border-box;
    display: inline-block;
    height: 200px;
    overflow-y: scroll;;
    padding: 10px;
    vertical-align: top;
    width: 50%;
}

.multi-wrapper .selected-wrapper {
    background: #fff;
    border-left: 1px solid #ccc;
}

.multi-wrapper .item {
    cursor: pointer;
    display: block;
/*     font-size: 12px; */
    /* padding: 5px 10px; */
}

.multi-wrapper .item:hover {
    background: #ececec;
    border-radius: 2px;
}

.multi-wrapper .search-input {
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    display: block;
    margin: 0;
    outline: 0;
    padding: 9px 20px;
    line-height: 20px;
    width: 100%;
    font-size: 16px;
}

.multi-wrapper .non-selected-wrapper .item.selected {
    opacity: 0.5;
}

.multi-wrapper .non-selected-wrapper .row.selected:hover {
    background: inherit;
    cursor: inherit;
}


.multi-wrapper .cmp-select-label {
    display:inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0px 10px;
    font-weight: normal;
}

.multi-wrapper .multi-form-item {
    text-align: left;
    /* padding-right: 0; */
    padding: 6px 5px;
}

.multi-wrapper .multi-form-item {
    display: flex;
    align-items: first baseline;
}

.multi-wrapper .multi-headers-cols {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.multi-wrapper .multi-headers-cols .search-input {
    float: left;
    width: 50%;
}

.multi-wrapper .multi-headers-cols .headers-col {
    width: 50%;
    float: left;
    font-size: 16px;
    line-height: 20px;
    padding: 9px 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-align: left;
}

.multi-wrapper .multi-headers-cols .headers-col .clear-all {
    float: right;
}

.multi-wrapper .selected-wrapper .multi-form-item a.item{
    font-size: 16px;
}
/*

 */
.multi-wrapper .selected-wrapper .multi-form-item .icon-close {
    /*background-image: url("/sites/all/modules/custom/lx_campaigns_events/images/close.svg");*/
    background-image: url("/sites/all/themes/adminimal_theme/images/pop-close.png");
    background-repeat: no-repeat;
    background-size: 12px 12px;
    width: 16px;
    height: 16px;
    /* border-radius: 50%; */
    background-color: #ed9c28;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
    top: 3px;
    background-position: 50% 50%;
}

