.export-float-right {
    /*float: right;*/
    margin-left: 10px;
}

.export-log {
    position: relative;
    min-width: 45px;
    min-height: 32px;
}

.export-log .export-btn {
    display: block;
    cursor: pointer;
    transition: all 2s linear;
}

.export-log .export-btn .fa {
/*    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;*/
}

.export-log .export-btn .fa.fa-download {
    display: inline-block;
    font-size: 25px;
    color: #5974a3;
    margin-right: 0 !important;
    padding: 4px 10px 0 10px;
    border: 1px solid transparent;
    box-sizing: border-box
}

.export-log > ul {
    background-color: #fff;
    display: none;
    margin: 0 !important;
    min-width: 80px;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    width: auto;
    z-index: 1000;
    box-shadow: 3px 6px 10px -2px #d7d8db,-1px -1px 0px -3px #e3e4e8;
    width: 178px;
/*    transition: opacity 0.1s ease-in, opacity 1s ease-out;    
    opacity:0;*/
}

.export-log > ul li {
    list-style: none;
    /*padding: 5px;*/
}

.export-log > ul li:hover {
    background: rgba(0,0,0, 0.1)
}

.export-log > ul li a {
    border: 0 none !important;
    border-radius: 0;
    color: #333;
    display: block;
    font-size: 14px;
    text-transform: none !important;
    transition: none;
    padding: 10px 15px
}

.export-log > ul li a:hover {
    text-decoration: none !important;
}

/*.export-log:hover {
    background: #fff;
    border: 1px solid #5974a3;    
}    */

#lx-domains-cmp-log-filters .fieldset-wrapper .form-submit {
    transition: none
}

.actions.hovered  .form-submit {
    margin-right: 55px;
    height: 32px
}

.export-log:hover {
    position: absolute;
    right: 0;
    width: 200px;
    height: 40px;    
}
.export-log:hover > ul {
    display: block;
    position: relative;
    right: 12px
    /*opacity:1;*/
    /*z-index: 10;*/
    /*transition: all 2s linear;*/    
}

.export-log:hover .export-btn {
    position: absolute;
    right: 12px
}

.export-log:hover .fa.fa-download {
    background: #fff;
    border: 1px solid #5974a3;
    border-bottom: none;
    padding: 4px 10px 10px 10px;
    z-index: 1000;
    position: relative;    
    right: 0
    /*padding-bottom: 5px*/
}

.export-log:hover > ul {
    border: 1px solid #5974a3;
    top: 39px;
    /*right: -35px;*/
    z-index: 100;
    position: absolute
}


.overlay-over-blured-pubs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.4);
}

.overlay-over-blured-content-pubs {
    width: 300px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    height: 130px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -150px;
    color: #000;
    border: 1px solid #efa740;
    box-shadow: 5px 0 35px #5974a3;
    background: #fff
}

.bg-blured {
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.overlay-over-blured-content-pubs .conf-text {
    font-size: 16px;
    line-height: 20px; 
    margin-bottom: 20px
}

.overlay-over-blured-content-pubs .conf-buttons .confirm-yes {
    display: inline-block;
    font-size: 12px;
    padding: 7px 18px 6px 18px;
    background: #73c394;
    position: relative;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none
}

.overlay-over-blured-content-pubs .conf-buttons .confirm-yes:hover {
    text-decoration: none;
    background: #66ba89;
}

.overlay-over-blured-content-pubs .conf-buttons .confirm-no {
    display: inline-block;
    font-size: 12px;
    padding: 7px 18px 6px 18px;
    background: #e36159;
    position: relative;
    border-radius: 0;
    margin-right: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none    
}

.overlay-over-blured-content-pubs .conf-buttons .confirm-no {
    text-decoration: none;
    background: #d34b42
}


.form-item-selfieldval {
    width: 100%
}

#lx-domains-cmp-log-filters .actions {
    display: flex
}

.pubs-id-inputs {
    position: relative;
    margin-bottom: 25px !important
}

.pubs-id-inputs .pubs-id-text {
    position: absolute;
    font-size: 12px;
    color: red;
    width: 100%;
    display: none
}

@media (max-width: 1080px) {
    
    
    #lx-domains-cmp-log-filters .fieldset-wrapper .form-item-selfieldval {
        padding-right: 0
    }
    
    
    #lx-domains-cmp-log-filters .actions {
        float: left;
        margin-left: 13px;
    }
    
    #lx-domains-cmp-log-filters .fieldset-wrapper .form-item-date, #lx-domains-cmp-log-filters .fieldset-wrapper .form-item-blockedby, #lx-domains-cmp-log-filters .fieldset-wrapper .form-item-userip {
        margin-top: 0 !important
    }
}

@media (max-width: 690px) {
    #lx-domains-cmp-log-filters .actions {
        float: none;
        margin-left: 25px
    }    
}