/* Mobile Styles - You can edit the media query from the theme settings page. */

body {
    min-width: 320px !important
}

#branding {
  padding: 0 20px 0 10px !important;
}

#branding.has-primary-tabs {
  border-bottom: 5px solid #0074BD;
}

#branding .breadcrumb {
  padding: 10px 10px 0px 10px;
}

#branding h1.page-title {
  padding: 0 0 15px 10px;
}

#branding .add-or-remove-shortcuts {
  display: none;
}

#page {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 0;
  position: relative;
}

ul.primary {
  float: none;
  clear: both;
  display: block;
  padding: 0 10px 0 10px;
  background: #333;
  width: 100%;
  border-bottom: 5px solid #0074BD;
  box-sizing: border-box;
}

ul.primary li {
  clear: both;
  display: table;
  float: none;
  margin: 0;
  width: 100%;
}

body.adminimal-theme #navigation ul.primary li:first-of-type {
  margin-left: 0;
}

body.adminimal-theme ul.primary li a:active, body.adminimal-theme ul.primary li a:link, body.adminimal-theme ul.primary li a:visited {
  border: 0 none;
  display: block;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2em;
  width: 100%;
  background: #444;
  color: #fff;
  margin-top: 5px;
}

body.adminimal-theme ul.primary li a.active, body.adminimal-theme ul.primary li a.active:link, body.adminimal-theme ul.primary li a.active:visited, body.adminimal-theme ul.primary li a:hover {
  margin-top: 5px;
  border: 0 none;
  background-color: #0074BD;
}

ul.secondary li {
  float: left;
  margin: 5px;
}

body.adminimal-theme ul.secondary li a, body.adminimal-theme ul.secondary li a:hover, body.adminimal-theme ul.secondary li.active a, body.adminimal-theme ul.secondary li.active a.active {
  padding: 5px 10px;
}

body.adminimal-theme div.admin .right, body.adminimal-theme div.admin .left {
  margin: 0;
  width: 100%;
}

.help-items {
  width: 100%;
}

.form-item label, .exposed-filters .form-item label {
  margin: 0 0.5em 0.25em 0;
}

.container-inline div, .container-inline label {
  display: block;
}

.exposed-filters .form-item {
  width: 100%;
}

.exposed-filters .form-select {
  clear: both;
  margin-bottom: 10px;
  width: auto;
}

.views-exposed-form label {
  margin: 0;
  padding: 0 0 0.5em;
}

.overflow-fix {
  /*overflow: auto;*/
}

input, textarea, img {
  max-width: 99%;
}

input[size] {
  width: 99%;
}

.system-themes-list-enabled .theme-default .theme-info h3 {
  clear: both;
  padding-top: 10px;
}

table.sticky-header {
  display: none;
}

.system-themes-list-enabled .theme-info {
  clear: both;
  float: left;
  margin-top: 1em;
}

body.adminimal-skin-material.page-user-campaigns ul.action-links {
    float: none
}

ul.action-links li {
  clear: both;
  float: left;
  margin: 0 1em 0 0;
  padding-bottom: 1em;
  
}

ul.action-links li:last-child {
  padding-bottom: 0;
}

.ctools-dropbutton-processed {
  position: relative;
}
.views-display-top .ctools-button-processed, .views-ui-display-tab-bucket .ctools-button-processed {
  font-size: 13px;
  left: 5px;
  margin-bottom: 10px;
  position: relative;
  top: 5px;
}

.views-display-columns > * {
  width: 100%;
  margin-left: 0;
  padding-left: 0;
}

div.vertical-tabs {
  background: #fff;
  border: none;
}

div.vertical-tabs .vertical-tabs-list {
  margin: 0;
  width: 100%;
  padding-bottom: 20px;
  width: 100%;
  border: none;
}
div.vertical-tabs .vertical-tabs-panes {
  margin: 0;
  padding: 0;
  width: 100%;
  clear: both;
}
div.vertical-tabs ul li.vertical-tab-button a {
  background: none repeat scroll 0 0 #eee;
  border: none;
}

div.vertical-tabs ul li.vertical-tab-button a {
  background: #eee;
  border: none;
}

div.vertical-tabs ul li.vertical-tab-button a:hover, div.vertical-tabs ul li.selected a:hover, div.vertical-tabs ul li.selected a, div.vertical-tabs ul li.selected a:focus, div.vertical-tabs ul li.selected a:active {
  background: #ddd;
  border: none;
}

html.js .adminimal-theme #module-filter-modules {
  margin-left: 0;
  margin-bottom: 55px;
  width: 100%;
}

html.js .adminimal-theme #module-filter-tabs>ul {
  display: none;
}

html.js .adminimal-theme #module-filter-submit {
  bottom: 0;
  margin-left: -10px;
  position: fixed;
  width: 100%;
  z-index: 999;
  border: none;
  border-top: 3px solid #0074BD;
  background: #fff;
}

table.module-filter-tabs-processed td.description, table.module-filter-tabs-processed > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(4) {
  display: none;
}

html.js .adminimal-theme #module-filter-show-wrapper .form-item-module-filter-show-required {
  clear: both;
  display: block;
}

html.js .adminimal-theme #module-filter-show-wrapper .form-item {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 45%;
}

/* Sidebars */
#content-wrapper {
    display: block;
}

#main-content {
  width: 100%;
  clear: both;
  display: block;
}

#sidebar-left .region-sidebar-left, #sidebar-right .region-sidebar-right {
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#sidebar-left .region-sidebar-left {
  padding-right: 0px;
}

#sidebar-right .region-sidebar-right {
  padding-left: 0px;
}

.adminimal-theme #module-filter-tabs.top-fixed{
  position: relative;
}

.adminimal-theme #dashboard div#dashboard_sidebar {
  width: 100%;
}

.container-inline.form-actions.form-wrapper {
  clear: both;
}

/* my */

.graf-1, .graf-2 {
    float: none;
    width: 100%
}

#lx-domains-stat-dates .form-item-enabled-filters {
  border-left: none;
  border-right: none;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee
}

#lx-domains-stat-dates .form-item-enabled-filters .form-type-checkbox {
    display: inline-block;
    width: 125px
}

#lx-domains-stat-dates .form-item-enabled-filters label {
  font-size: 15px !important;
}

.mobile-icon {
  background: #d3ebff none repeat scroll 0 0 !important;
  display: block;
  height: 40px;
  overflow: visible !important;
  position: absolute;
  right: -35px;
  top: -8px;
  width: 41px;
  z-index: 1000;
}

#block-lx-domains-cmp-clientmenu .content ul {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background: #d3ebff none repeat scroll 0 0;
    border-bottom: 1px solid #333 !important;
    border-image: none !important;
    border-left: 1px solid #333 !important;
    border-radius: 0;
    border-right: 0 none;
    box-shadow: none;
    display: none;
    margin: 0 !important;
    min-width: 195px;
    padding: 0;
    position: absolute;
    right: -35px;
    top: 32px;
    width: auto;
    z-index: 10;
}

#block-lx-domains-cmp-clientmenu .content ul li {
    list-style: inside none none;
    padding: 0;
    margin: 0;
    float: none;
    border-radius: 0;
    background: transparent
}

#block-lx-domains-cmp-clientmenu .content ul li.active,
#block-lx-domains-cmp-clientmenu .content ul li:hover {
    background: #e2f1fe;
    margin: 0 !important
}

#block-lx-domains-cmp-clientmenu .content ul li span {
    font-weight: bold;
    text-decoration: none
}

#block-lx-domains-cmp-clientmenu .content ul li.no-hover:hover{
    background: transparent;
}       

#block-lx-domains-cmp-clientmenu .content ul li a {
    border: medium none !important;
    border-radius: 0;
    color: #333;
    display: block;
    font-size: 14px;
    text-transform: none !important;
    transition: none;
    padding: 10px 20px;
    text-transform: uppercase
}

#block-lx-domains-cmp-clientmenu .content ul li:hover a {
    text-decoration: none !important;
    text-shadow: none;
    color: #333
}    

#block-lx-domains-cmp-clientmenu .content ul li.lev-2 a {
    padding-left: 10px
}

#lx-domains-cmp-form {
    padding-bottom: 0
}

#lx-domains-cmp-form .form-submit {
  box-sizing: border-box;
  margin-left: 0;
  margin-top: 10px;
  width: 100%;
  border-radius: 0 0 3px 3px
}

body.adminimal-skin-material #branding h1.page-title {
  font-family: Roboto,sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 1.5em;
  padding: 0 0 8px;
  padding-left: 12px;
}

div.resp-tabs .resp-tabs-container .resp-accordion a strong {
  margin-left: 0 !important;
}

.hide-mobile {
    display: none
}

table td .short_stat {
  background: #fff none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #000;
  display: none;
  margin-left: -227px;
  margin-top: -47px;
  padding: 5px;
  position: absolute;
  width: 208px;
  z-index: 100;
}

body.adminimal-skin-material #branding h1.page-title {
  font-size: 22px !important;
  line-height: 38px !important;
  padding: 0 !important;
}