div.resp-tabs {
  margin: 1em 0 0 0;
  background-color: #FFF;
  width: 100%;
}
div.resp-tabs .resp-tabs-list {
  display: none;
}
div.resp-tabs .resp-tabs-list li {
  margin: 0 !important;
  list-style: none;
}
div.resp-tabs .resp-tabs-container {
  background-color: #FFF;
}
div.resp-tabs .resp-tabs-container .resp-accordion {
  margin: 0;
  padding: 0;
  border-top: none;
  border-bottom: 1px solid #AAA;
  background: #263238;
  font-size: 15px;
  display: block;
}
div.resp-tabs .resp-tabs-container .resp-accordion a {
  padding: 1ex 1em;
  text-decoration: none;
  display: block;
  padding: 15px 10px;
  font-size: 22px;
  font-family: Roboto;
}

div.resp-tabs .resp-tabs-container .resp-accordion sup {
    display: none
}

div.resp-tabs .resp-tabs-container .resp-accordion.fs-off a {
    background: #eb5c5c
}

div.resp-tabs .resp-tabs-container .resp-accordion a:hover {

}
div.resp-tabs .resp-tabs-container .resp-accordion a strong {
  margin-left: 10px;
  color: #fff;
  font-weight: 400;
}
div.resp-tabs .resp-tabs-container .resp-accordion a .summary {
  display: none;
}



div.resp-tabs .resp-tabs-container .resp-tab-active a {
  color: black;
}

div.resp-tabs .vertical-tabs-panes.resp-tabs-container,
div.resp-tabs .resp-tabs-container .vertical-tabs-panes {
    margin: 0;
    padding: 0
}

div.resp-tabs .vertical-tabs-panes.resp-tabs-container legend,
div.resp-tabs .resp-tabs-container .vertical-tabs-panes legend {
    display: none !important
}

body.adminimal-skin-material #lx-domains-cmp-form div.resp-tabs .vertical-tabs-panes.resp-tabs-container  fieldset,
body.adminimal-skin-material #lx-domains-cmp-form div.resp-tabs .resp-tabs-container .vertical-tabs-panes  fieldset {
    padding-top: 10px;    
}

body.adminimal-skin-material #lx-domains-cmp-form div.resp-tabs .vertical-tabs-panes.resp-tabs-container  fieldset {
    transition: none
}

div.resp-tabs .resp-tabs-container .vertical-tabs-panes fieldset .form-item input[type="text"],
div.resp-tabs .resp-tabs-container .vertical-tabs-panes fieldset .form-item textarea,
div.resp-tabs .resp-tabs-container .vertical-tabs-panes fieldset .form-item select {
  max-width: 100%;
}
div.resp-tabs .resp-tabs-container label {
  color: #000 !important;
}
div.resp-tabs .resp-tabs-container .resp-tab-content input[type="text"], div.resp-tabs .resp-tabs-container .resp-tab-content input[type="file"], div.resp-tabs .resp-tabs-container .resp-tab-content select, div.resp-tabs .resp-tabs-container .resp-tab-content textarea {
  width: 100%;
  max-width: 100%;
}
div.resp-tabs .resp-tabs-container .resp-tab-content-active {
  overflow: hidden;
}

div.resp-tabs .resp-tabs-container .resp-tab-content input#edit-set-active-after-x-imps {
    width: 40px !important;
    max-width: 40px !important
}

div.resp-tabs .resp-tabs-container .resp-tab-content select#edit-set-under-review-after {
    width: 60px !important;
    max-width: 60px !important
}
