@font-face {
    font-family: RobotoMono;
    src: url(../fonts/RobotoMono-Regular.ttf);
   }

:focus {outline: none !important;}

* {
    box-sizing: border-box
}

html,
body {
  height: 100%;
}
#page  {
  position: relative;
  min-height: 100%;
  padding: 0 !important;
  padding-bottom: 35px !important;
}

#page  #content {
    padding-bottom: 30px;
}

#main-content {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: #5974a3;
  border-top: 2px solid #efa740;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}

#footer span {
    display: inline-block;
    margin-top: 5px
}


body {
    font-family: Roboto
}

p {
    font-family: Roboto;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    font-weight: 300    
}

input.form-autocomplete, input.form-text, input.form-file, textarea.form-textarea, select.form-select {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 300
}

body.adminimal-skin-material.page-user-campaigns .form-item label {
    font-family: Roboto, sans-serif;
    font-weight: 300 !Important;
    font-size: 18px !important;    
    line-height: 22px
}

body.adminimal-skin-material.page-user-campaigns .column-switcher .form-item label {
    font-size: 16px !important
}    

body.adminimal-skin-material .form-actions input {
    height: auto !important
}

.progress-disabled {
  float: none;
  display:inline;
}

.ajax-progress {
  float: none;
  display:inline;
}
.ajax-progress .throbber {
  background: transparent url('../images/custom.gif') no-repeat;
  float: none;
  height: 0;
  margin: 0;
  width: 0;
  display:inline-block;
}
tr .ajax-progress .throbber {
  margin: 0;
}
.ajax-progress-bar {
  width: 16em;
}


#user-profile-form .confirm-parent, #user-profile-form .password-parent {
    width: auto !important
}

#user-profile-form .form-text {
    width: 270px !important
}

.password-strength {
    display: none !important
}

.total-row b {
    font-size: 12px    
}

div.description, .form-item div.description {
    font-size: 14px;
    font-weight: 300;
    color: #333
}

div.description, .form-item div.description b {
    font-weight: 400
}

input#edit-submit {
    padding: 7px 18px 6px 18px;
    background: #73c394;
    position: relative;
    border-radius: 0
}

input#edit-submit:hover {
    background: #66ba89;
    box-shadow: none
}

input.form-submit:before {
    display: inline-block;
    margin-right: .5em;
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    colo: #fff
}

body.adminimal-skin-material,
body.adminimal-skin-material #page {
    background: #fff
}

/*body.adminimal-skin-material #page {
    border-top: 1px solid #5974a3;
}*/

body.adminimal-skin-material #branding {
    background: #5974a3 !important;
    min-height: 40px;
    border-bottom: 2px solid #efa740;
    box-shadow: none;
    border-top: 1px solid #efa740
}

body.adminimal-skin-material #branding h1.page-title {
  font-size: 22px !important;
  line-height: 46px !important;
  padding: 0 !important;
  color: #fff;
  font-weight: 300;
}

body.adminimal-skin-material a {
    color: #5974a3
}

#topper {
    background: #fcfcfc
}

#topper .user-small-menu {
    float: right;
}

#topper .small-logo {
    padding: 0 20px;
    padding-top: 3px
}

#topper .user-small-menu ul {
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 0
}

#topper .user-small-menu ul li {
    display: inline-block;
    list-style: none;
    list-style-image: none;
    border-right: 1px solid #efefef;
    color: #777
}

#topper .user-small-menu ul li:last-child {
    border-right: none
}

#topper .user-small-menu ul li i {
    margin-right: 0
}

#topper .user-small-menu ul li.user-mail {
    padding: 5px 10px;
    padding-left: 0
}

#topper .user-small-menu ul li i {
    font-size: 16px;
    color: #5974a3;
}

#topper .user-small-menu ul li a {
    display: block;
    padding: 5px 10px;
}

#topper .user-small-menu ul li.user-mail i {
    margin-right: 7px
}

#topper .user-small-menu ul li.ulink:hover {
    background: #5974a3
}

#topper .user-small-menu ul li.ulink:hover i {
    color: #fff
}


#branding div.block {
    width: auto !important;
    background: transparent !important
}

.page-node-45 #branding div.block {
    height: 42px !important
}

.mobile-header h1 {
    font-weight: 300
}

.bradcrubms {
    position: relative;
    top: 10px;
    color: #555;
    padding: 0 20px
}

.bradcrubms .last-bc {
    color: #888
}

table td {
    color: #333
}

table td, table th {
  border-right: 1px solid #eee !important;
  border-bottom: 1px solid #eee !important;
}

table th a {
    display: inline !important
}    

table th i.fa {
    margin-right: 0;
    margin-left: 4px;
    position: relative;
    top: -2px    
}

table th i.fa.fa-sort-asc {
    top: 5px    
}
    
#lx-domains-admin-cmp-search-form .form-item {
    display: inline-block;
    padding: 10px
}

#lx-domains-admin-cmp-search-form .form-item:first-child {
    padding-left: 0
}

.not-logged-in #page .front-logo {
    text-align: center;
    padding-top: 40px
}

.not-logged-in .input-group {
    position: relative;
    display: table;
    border-collapse: separate;    
}

.not-logged-in .input-group .input-group-addon {
    padding: 8px 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 0;
    float: left;
    height: 40px;
    border-right: none;
    font-size: 20px;
    padding-right: 6px;  
    background: rgba(230, 236, 246, 0.5);
    color: #5974a3;
    opacity: 0.7
}

.not-logged-in .input-group .form-text {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0    
}

.front.not-logged-in #page,
.front.not-logged-in #page #content,
.front.not-logged-in #page #content #content-wrapper,
.front.not-logged-in #page #content .region-content {
    height: 100% !important;
    background: #fff;
}

.logged-in .block-user,
.not-logged-in .block-user {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    height: 270px;
    left: 50%;
    margin-bottom: 20px;
    margin-left: -150px;
    margin-top: -150px;
    padding: 20px;
    position: relative;
    top: 35%;
    width: 300px;
    transition: all 0.5s ease-in-out 0s
}

#block-user-login {
    height: 300px
}

.logged-in .req-pass,
.not-logged-in .req-pass {
    height: 220px;
    margin-top: -100px;
}

.logged-in .req-pass {
    height: 160px;
}

.logged-in .req-pass {
    height: 160px;
}

.not-logged-in .user-reg {
    height: 430px;
    margin-top: 80px
}


.not-logged-in .user-reg .password-strength {
    display: none
}

.not-logged-in .user-reg .password-suggestions.description {
    width:0px;
    height: 0px;
    overflow: hidden !important;
    padding: 0;
    border: none;
    margin: 0;
    position: absolute
}

.not-logged-in .user-reg .form-item {
    margin-bottom: 0
}

.not-logged-in .user-reg input.password-confirm, 
.not-logged-in .user-reg input.password-field {
    margin-bottom: 0
}


.not-logged-in .user-reg .form-item-pass .form-text {
    width: 259px
}

.not-logged-in .user-reg .form-item-pass #edit-pass {
    width: 217px
}    

.not-logged-in .user-reg div.password-confirm {
    position: absolute;
    top: 92px;
    left: 148px;    
    float: none
}

.not-logged-in .user-reg .ok {
    color: green
}

.logged-in .field-name-field-mail-subscription,
.not-logged-in .user-reg .field-widget-mailchimp-lists-select {
    display: none
}

.logged-in  .block-user h2,
.not-logged-in .block-user h2 {
    left: auto;
    line-height: 10px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    top: 0;
}

.logged-in .req-pass h2,
.not-logged-in .req-pass h2 {
    left: auto;
}


.not-logged-in .block-user:hover {
    box-shadow: none
}

.not-logged-in .block-user .form-text {
   width: 216px;
    height: 40px;
    font-size: 18px;
    background: #fff !important
}

.not-logged-in .block-user .form-item {
    padding-right: 0;
    margin-bottom: 20px
}

.not-logged-in .block-user .form-actions {
    margin-top: 30px
}

.logged-in .block-user .form-submit,
.not-logged-in .block-user .form-submit {
    font-size: 18px;
    height: auto;
    padding: 10px 0 !important;
    width: 100% !important;
    background: #73c394;
    border-radius: 0
}    

.not-logged-in .block-user .form-submit:hover {
    box-shadow: none;
    opacity: 0.8
}

.not-logged-in .block-user .item-list {
    bottom: 10px;
    position: absolute;
}

.not-logged-in  .block-user .captcha {
    position: relative;
    margin-left:-21px
}

.rc-anchor-light {
    box-shadow: none !important;
    border: none !Important
}

.req-pass  .item-list {
    
}

.not-logged-in .block-user .item-list ul {
    padding: 0;
    margin: 0;
    margin-left: 62px
}

#block-user-login .item-list ul li.first {
    margin-left: 9px
}

.not-logged-in .block-user.user-reg  .item-list ul {
    margin-left: 80px
}

.not-logged-in .block-user.req-pass .item-list ul {
    margin:  0 0 0 77px
}


.not-logged-in .block-user .item-list ul li {
    list-style-image: none;
    list-style-type: none;
}

.page-user-password #page {
    height: 100%
}

#contact-site-form .form-item,
.not-logged-in #content .region-content .block-user .form-item {
    margin-bottom: 0;
    height: 35px
}

#contact-site-form .form-item.form-type-textarea {
    height: auto
}



#contact-site-form label,
.not-logged-in #content .region-content .block-user form label {
    float: left;
    width: 150px;
    color: #555    
}

#user-login-form #edit-actions,
#user-pass #edit-actions,
#user-pass #edit-actions,
#contact-site-form #edit-actions {
    text-align: right
}

#user-login-form  .form-submit,
#user-pass #edit-actions  .form-submit,
#contact-site-form #edit-actions .form-submit {
    margin-right: 0
}

#contact-site-form .form-text,
.not-logged-in #content .region-content .block-user form .form-text {
    float: left;
    width: 200px;
}

.not-logged-in #content .region-content .block-user form .item-list li {
    list-style: outside none none;
    position: absolute;
    top: 32px;
    right: 23px;
    font-size: 10px;
}

.not-logged-in #content .region-content .block-user form .item-list li a {
    color: #555
}

#block-block-1 .content {
    text-align: center;
}

#block-block-1 .content a {
    color: #777 !important
}

.captcha {
    clear: both;
    float: none;
    margin-left: 2px;
    display: block
}

#contact-site-form .captcha {
    margin-left: 3px;
}

.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 1px solid red;
}

.field-err-mess {
    clear: both;
    color: red;
    display: block;
    float: none;
    padding-top: 2px;
    font-size: 11px;
}

.page-contact .field-err-mess,
.not-logged-in .field-err-mess {
    text-align: right;
}    

#block-lx-domains-cmp-clientmenu .content li {
    background: transparent none repeat scroll 0 0;
    border-radius: 0;
    display: block;
    float: left;
    list-style: outside none none;
    margin-right: 5px;
    /*transition: all 0.3s ease-in-out 0.1s;*/
}

#block-lx-domains-cmp-clientmenu .content li.last {
    margin-right: 0;
    position: relative
}


#block-lx-domains-cmp-clientmenu .content li a {
    border: medium none !important;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 5px 10px;
    text-transform: none !important;
    transition: none 0s ease 0s;
    /* font-weight: bold; */
    font-family: Roboto;
    font-weight: 400
}

i.fa {
    margin-right: 8px
}

#user-profile-form #edit-timezone {
    display: none
}

#block-lx-domains-cmp-clientmenu .content ul {
    margin-top: 9px !important
}

#block-lx-domains-cmp-clientmenu .content ul li.active,
#block-lx-domains-cmp-clientmenu .content ul li:hover {
    background: #fff
}

#block-lx-domains-cmp-clientmenu .content ul li a.active,
#block-lx-domains-cmp-clientmenu .content ul li:hover a {
    text-decoration: none;
    text-decoration: none;
    text-shadow: none;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    color: #5974a3 !important;
}

#block-lx-domains-cmp-clientmenu .content ul li sup {
    margin-right: -12px;
    background: #fdcc20;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 100px;
    font-size: 9px;
    position: relative;
    top: -6px;
    left: -5px;
    padding: 0px 4px;
    font-weight: 600
}

#block-lx-domains-cmp-clientmenu .content ul li sup.bell {
    background: transparent;
    color: #fdcc20;
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    left: -2px;
    margin-right: -12px;
    padding: 0 4px;
    position: relative;
    text-align: center;
    top: -4px;    
}    

#block-lx-domains-cmp-clientmenu .content ul li sup.bell i.fa {
    margin-right: 0
}

#block-lx-domains-cmp-clientmenu .content ul li sup.news {
    /*background: #73c394;*/
    position: absolute;
    top: 3px;
    left: 17px    
}

#block-lx-domains-cmp-clientmenu .content ul li sup.alerts {
    position: absolute;
    top: 3px;
    left: 17px        
}

#block-lx-domains-cmp-clientmenu .content ul li.active sup,
#block-lx-domains-cmp-clientmenu .content ul li.active sup.news {
    background: #5974a3
}

#block-lx-domains-cmp-clientmenu .content ul li.active sup.bell {
    background: transparent
}    


form .alldis .form-type-radio {
    display: inline-block;
    margin-right: 20px
}

form .alldis .form-type-radio:last-child {
    margin-right: 0
}

.front h1.page-title {
    padding-bottom: 10px;
    font-size: 24px !important;
    float: none;
    text-align: center;
    display: block;
    width: 100%;
}

.breadcrumb {
    display: none
}

/*.page-user-campaigns ul.action-links {
    float: left
}*/

ul.action-links {
    margin-top: 0 !important
}

#lx-domains-cmp-form #edit-general-fs {
    position: relative;
    width: 600px;    
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: 0
}

#lx-domains-cmp-form #edit-general-fs .form-item {
    padding-right: 0;
    padding-top: 20px
}

#lx-domains-cmp-form #edit-general-fs .form-item-safe-page-send-params,
#lx-domains-cmp-form #edit-general-fs .form-item-money-page-send-params {
    padding-top: 0
}

#lx-domains-cmp-form #edit-general-fs input.form-text {
    width:100%;
    box-sizing: border-box;
}

#lx-domains-cmp-form #edit-general-fs .form-item-param-protect {
    padding-top: 0
}

#lx-domains-cmp-form #edit-general-fs .form-item-param-protect-name {
    margin: 0;
    width: 140px;
    padding: 0;
    display: inline-block;
    margin-left: 27px
}

#lx-domains-cmp-form #edit-general-fs .form-item-param-protect-value {
    margin: 0;
    padding: 0;
    width: 417px;
    display: inline-block
}

#lx-domains-cmp-form #edit-general-fs .form-item-param-protect-name span.field-suffix {
    display: inline-block;
    padding-left: 2px;
    font-size: 20px    
}

#lx-domains-cmp-form #edit-general-fs .form-item-param-protect-name .form-text {
    width: 120px
}

#lx-domains-cmp-form #edit-general-fs #param-protect-fs {
    box-shadow: none;
    background: transparent;
    padding: 0;
    margin-bottom: 0
}

#lx-domains-cmp-form #edit-general-fs #param-protect-fs.hidden {
    display: none
}

#lx-domains-cmp-form #edit-general-fs .form-item-param-protect-hide-after {
    margin-bottom: 0;
    padding-top: 19px; 
    margin-left: 27px
}

#lx-domains-cmp-form #edit-general-fs .form-item-param-protect-hide-after span {
    font-family: Roboto;
}

#lx-domains-cmp-form #edit-general-fs .form-item-param-protect-hide-after .form-text {
    width: 60px;
    margin-left: 8px    
}

/*#lx-domains-cmp-form #edit-general-fs .form-item-sel-tag {
    padding-top: 9px
}*/

#lx-domains-cmp-form .form-item  {
    padding-top: 1em
}

#lx-domains-cmp-form .form-item-name {
    margin-bottom: 25px
}

#lx-domains-cmp-form .form-item-money-page {
    padding-top: 40px;
    /*border-top: 1px dashed #ccc*/
}

#lx-domains-cmp-form  #time-display {
    padding-top: 1em;
    padding-bottom: 1em
}

#lx-domains-cmp-form  #time-slider {
    margin-bottom: 2em
}

#lx-domains-cmp-form div.vertical-tabs {
    margin-top: 0
}

#lx-domains-cmp-form div.vertical-tabs fieldset.vertical-tabs-pane > legend {
    border-bottom: 2px solid #efa740;
    display: inline-block !important;
    margin: 0;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    font-size: 24px;
    font-weight: 300;
    width: auto;
    background: transparent
}
    

body.adminimal-skin-material #lx-domains-cmp-form  fieldset {
  padding-top: 72px;
  
}

#lx-domains-cmp-form .os-select {
    clear: both;
    float: none;
    padding-left: 30px;
    margin-bottom: 0;
}

#lx-domains-cmp-form .form-item-check-device-desktops label,
#lx-domains-cmp-form .form-item-check-device-tablets  label,
#lx-domains-cmp-form .form-item-check-device-smartphones  label,
#lx-domains-cmp-form .form-item-check-device-smarttv  label,
#lx-domains-cmp-form .form-item-check-device-gameconsoles  label{
    font-weight: bold
}

#lx-domains-cmp-form .os-select .form-item {
    float: left;
    padding-top: 0;
    margin-right: 30px;
    margin-bottom: 10px
}

#lx-domains-cmp-form .os-select .form-item label {
    font-size: 13px;
}

#lx-domains-cmp-form .form-item.form-type-radios {
    padding-top: 0
}

#lx-domains-cmp-form #time-display {
    font-size: 16px
}

#lx-domains-cmp-form #time-display #cur-time {
    font-weight: bold
}

.tag-selector {
    padding: 0 2px;
    padding-bottom: 0;
    border: 1px solid #ddd;
    background: #fff;
    vertical-align: baseline;
    box-sizing: inherit;
    outline: 2px solid transparent;
    outline-offset: 0px;
    transition: all, 0.1s;  
    /*width: 100%*/
}

#lx-domains-cmp-filter .tag-selector {
    display: flex;
    padding-left: 0;
    min-width: 300px
}

#lx-domains-cmp-filter .tag-selector .selected-itm {
    display: flex;
    margin-top: 2px;
    margin-bottom: 2px
}

#lx-domains-cmp-filter .tag-selector .tag-autocomplete {
    border: none !important;
    width: 110px !important
}

#lx-domains-cmp-form #edit-general-fs .tag-selector input.form-text {
    width: 110px !important;
    border: none;
    padding: 0;
    display: inline-block;
    padding: 5px 0;
    padding-bottom: 10px;
    padding-left: 5px;
    outline: none !important;
}

#lx-domains-cmp-form #edit-general-fs .tag-selector input.form-text.long-placeholder {
    width: 300px !important
}

.tag-selector .selected-itm,
#lx-domains-cmp-form .selected .selected-itm {
    background: #5974a3 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    padding: 3px 6px 3px 8px;
    margin-right: 10px;
    margin-bottom: 10px
}

.tag-selector .selected-itm {
    background: #57a6b0;
    margin: 5px 3px;
    margin-bottom: 0;
}

.tag-selector .selected-itm .del-itm-selected,
#lx-domains-cmp-form .selected .selected-itm .del-itm-selected {
    border-bottom: medium none !important;
    border-left: 1px solid #6d88b8;
    color: #fff !important;
    display: inline-block;
    font-size: 14px;
    padding-left: 3px;
    margin-left: 3px
}

.tag-selector .selected-itm .del-itm-selected {
    border-color: #88c9d1
}

.tag-selector .selected-itm.tagExists {
    background: #efa740;
}

.tag-selector .selected-itm.tagExists .del-itm-selected {
    border-color: #f5ca8b
}    

.tag-selector .selected-itm .del-itm-selected i.fa,
#lx-domains-cmp-form .selected .selected-itm .del-itm-selected i.fa {
    margin-right: 0;
    margin-left: 3px;
}

.tag-selector .selected-itm .del-itm-selected:hover,
#lx-domains-cmp-form .selected .selected-itm .del-itm-selected:hover {
    text-decoration: none !important
}

#lx-domains-cmp-form div.vertical-tabs ul li.vertical-tab-button .summary {
  color: #666;
  display: block;
  font-size: 0.846em;
  padding-top: 0.4em;
  font-size: 12px;
  line-height: 16px;
}

#lx-domains-cmp-form .form-item-magic-filter-normal .option sup {
    color: #efa740;
}

#lx-domains-cmp-form .form-item-magic-filter-normal-type {
    padding-left: 25px;    
}

#lx-domains-cmp-form .form-item-magic-filter-normal-type .form-item {
    float: left;
    margin-right: 20px
}

span.percent {
    color: #555;
    font-weight: 300
}

.graf-1,
.graf-2 {
    width: 50%
}

.graf-1 {
    float: left;
}

.graf-2 {
    float: right;
}

body.adminimal-skin-material fieldset {
    transition: ease-in-out 0.5s;
    box-sizing: border-box;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    background: rgba(230, 236, 246, 0.5);
    border-radius: 0
}

body.adminimal-skin-material fieldset.white-bg {
    background: rgba(230, 236, 246, 0.1) !important
}


body.adminimal-skin-material fieldset:hover {
   box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}    

body.adminimal-skin-material fieldset.white-bg:hover {
    background: #fff;
}    


body.adminimal-skin-material fieldset.table-fs {
    box-shadow: none;
    border-radius: 0
}


body.adminimal-skin-material fieldset.pad22 {
    padding-top: 22px !important
}

body.adminimal-skin-material fieldset.pad12 {
    padding-top: 11px !important
}

body.adminimal-skin-material #lx-domains-cmp-filter fieldset.pad12 {
    padding-bottom: 11px
}    

body.adminimal-skin-material #lx-domains-cmp-filter .form-item {
    margin-bottom: 0
}

body.adminimal-skin-material #lx-domains-cmp-filter .form-item-name {
    width: 100%;
    display: flex
}

body.adminimal-skin-material #lx-domains-caleran-dates-range-form label span,
body.adminimal-skin-material #lx-domains-stat-dates label span {
    display: none
}

body.adminimal-skin-material #lx-domains-caleran-dates-range-form label i.fa,
body.adminimal-skin-material #lx-domains-stat-dates label i.fa,
body.adminimal-skin-material #lx-domains-cmp-filter .form-item-name i.fa {
    top: 5px;
    position: relative;
    opacity: 0.7;
    font-size: 20px;
    color: #5974a3
}

body.adminimal-skin-material #lx-domains-caleran-dates-range-form label i.fa,
body.adminimal-skin-material #lx-domains-stat-dates label i.fa {
    top: 0
}

body.adminimal-skin-material #lx-domains-cmp-filter .form-item-name .rem-ttl {
    display: none
}

body.adminimal-skin-material #lx-domains-cmp-filter .fieldset-wrapper {
  width: 100%;
  height: auto;
  /*display: -webkit-box;*/
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

body.adminimal-skin-material #lx-domains-cmp-filter #edit-name {
    width: 100%;
    min-width: 200px;
}

body.adminimal-skin-material #lx-domains-cmp-filter .form-item-status {
    display: flex
}

body.adminimal-skin-material #lx-domains-cmp-filter .form-submit {
    display: block;
    font-size: 14px
}

body.adminimal-skin-material #lx-domains-cmp-filter .form-item-sortby {
    display: none;
    margin-bottom: 20px;
}


body.adminimal-skin-material fieldset.nobotpad {
    padding-bottom: 0 !important
}

.pre-graphs-txt {
    font-weight: bold;
    margin-bottom: 10px
}
.operations {
    position: relative
}

.operations ul {
    background: #0971dc none repeat scroll 0 0;
    border-radius: 3px 0 3px 3px;
    display: none;
    margin: -2px 0 0 !important;
    min-width: 80px;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    width: auto;
    z-index: 1000;
}

.operations ul.width-174 {
    width: 174px;
}

.operations ul li {
    list-style: inside none none;
    padding: 2px 5px;
}

.operations ul li:hover {
    background: #0e66c0;
}

.operations ul li a:hover {
    text-decoration: none !important
}

.operations ul li span {
    font-weight: bold;
    text-decoration: none
}

.operations ul li.no-hover:hover{
    background: transparent;
}       

.operations ul li a {
    border: medium none !important;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 14px;
    text-transform: none !important;
    transition: none
}

.operations ul li.lev-2 a {
    padding-left: 10px
}


table td .operations ul {
  background: #0971dc none repeat scroll 0 0;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid #fff !important;
  display: none;
  margin: -3px 0 0 !important;
  min-width: 80px;
  padding: 0;
  position: absolute;
  right: 0;
  width: auto !important;
  z-index: 1000;
  min-width: auto;
  box-shadow: 1px 2px 5px #777
}

body.adminimal-skin-material #page table td .operations a {
  font-size: 13px;
  text-transform: uppercase;
}

body.adminimal-skin-material div.status {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.18)
}

body div.error {
  background-color: #fef5f1 !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.18);
}


/*.operations:hover ul {
    display: block;
    transition: all 0.3s ease-in-out 0.1s
}    */

body.adminimal-skin-material table tbody td .operations ul li a {
    padding: 0
}

body.adminimal-skin-material tr.even {
    background: #fcfcfc !important
}

.user-stat-table tr.even td:nth-child(2),
.user-stat-table tr.even td:last-child,
.full-stat-table tr.even td:nth-last-child(2),
.full-stat-table tr.even td:nth-child(2)
{
    background: rgba(240, 240, 240, 0.4)
}

.user-stat-table tr.odd td:nth-child(2),
.user-stat-table tr.odd td:last-child,
.full-stat-table tr.odd td:nth-last-child(2),
.full-stat-table tr.odd td:nth-child(2) {
    background: rgba(250, 250, 250, 0.4) 
}

.adminimal-theme tr.even:hover, .adminimal-theme tr.odd:hover {
  background: #e6ecf6 !important;
}

.user-stat-table tr.even:hover td:nth-child(2),
.user-stat-table tr.even:hover td:last-child,
.user-stat-table tr.odd:hover td:nth-child(2),
.user-stat-table tr.odd:hover td:last-child,
.full-stat-table tr.even:hover td:nth-child(2),
.full-stat-table tr.odd:hover td:nth-child(2),
.full-stat-table tr.odd:hover td:nth-last-child(2),
.full-stat-table tr.even:hover td:nth-last-child(2) {
    background: #fcbf69 !important
}

tr.total-row td,
tr.total-row {
    background: #fff !important;
}


body.adminimal-skin-material .full-stat-table table th.date-td {
    width: 100px
}

body.adminimal-skin-material .full-stat-table table th.tot-blocked-td,
body.adminimal-skin-material .full-stat-table table th.total-td {
    width: 120px
}    
    
.form-item label {
  font-size: 16px !important;
  font-weight: 400 !important;
}

fieldset.display-inline {
    float: left;
    margin-right: 15px
}

#lx-domains-stat-dates {
    clear: both;
    float: none
}

#lx-domains-stat-dates .form-item-enabled-filters,
#lx-domains-caleran-dates-range-form #edit-submit,
#lx-domains-caleran-dates-range-form .dates-wrapper,
#lx-domains-caleran-dates-range-form .form-item-period-type,
#lx-domains-stat-dates #edit-submit,
#lx-domains-stat-dates .form-item-period {
    float: left;
    margin-bottom: 0;
}

#lx-domains-caleran-dates-range-form .form-item-period-type .form-select {
    width: 209px
}

#lx-domains-caleran-dates-range-form .form-item-dates .form-text {
    width: 200px
}

#lx-domains-stat-dates #edit-submit {
    margin-top: 0
}

#lx-domains-stat-dates .form-item-enabled-filters {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

#lx-domains-stat-dates .form-item-enabled-filters label,
#lx-domains-stat-dates .form-item-period label {
    /*clear: both;*/
    float: none;
    display: inline
}

#lx-domains-stat-dates .form-item-enabled-filters .form-checkboxes label {
    display: inline;
    font-size: 13px !important;
}

#lx-domains-stat-dates .form-type-checkboxes .form-checkboxes {
    display: inline-block;
    padding-top: 12px
}

#lx-domains-stat-dates .form-item-enabled-filters .form-checkboxes input {
    width: 12px;
    height: 12px
}

#lx-domains-stat-dates .form-item-enabled-filters .form-checkboxes .form-type-checkbox {
    border-radius: 3px;
    margin-right: 5px;
    padding: 3px 5px 1px 1px;    
}

.operations {
    background: #0971dc none repeat scroll 0 0;
    display: inline-block;
    border-radius: 3px;   
    
}

.operations span {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;    
}

.operations li span {
    padding: 0
}

.operations:hover span {
    /*color: #cae5fe;*/

}

.operations-float-right {
    float: right;
    margin-top: 0
}

fieldset.table-fs {
    padding: 0 !important;    
}

fieldset.table-fs table {
    margin-bottom: 0
}

body.adminimal-skin-material table th {
  font-size: 14px !important;
}

table td, table th {
  padding: 3px 5px !important;
}

table.cmp-list-table td {
    padding: 5px !important
}

table tr.odd td.sort-column {
    background: rgba(250, 250, 250, 0.4)
}    

table tr.even td.sort-column {
    background: rgba(240, 240, 240, 0.4)
}    

.mobile-icon {
  display: none;
}

.column-switcher {
  padding: 10px;
  width: 100%;
  padding-bottom: 0;
}

.column-switcher .show-hide-txt,
.column-switcher .form-item {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding-right: 10px !important
}

.column-switcher .show-hide-txt {
    margin-right: 0;
    display: block;
    font-size: 20px;
    font-weight: normal;
    padding-right: 5px !important;
    line-height: 30px;
    color: #5974a3;
    opacity: 0.7;
    position: relative;
    top: 7px;
    position: absolute
}

.column-switcher .column-switcher-chbxs {
    padding-left: 30px
}

.column-switcher .form-item label {
    display: inline;
    font-size: 13px !important
}


.long-trimmed {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
    width: 200px;
    display: block;
    cursor: pointer
}
  

#lx-domains-cmp-log-filters .form-item {
    margin-right: 25px
}

#lx-domains-cmp-log-filters .operations-float-right {
    display: none
/*  float: right;
  margin-left: 40px;
  margin-top: 0*/
}

body.adminimal-skin-material table {
    border-top: none !important
}

body.adminimal-skin-material table th {
    background: #5974a3 none repeat scroll 0 0 !important;
    color: #fff !important;
    font-family: Roboto;
    font-size: 14px !Important;
    border-right: 1px solid #607bab !important;
    border-bottom: none !important;
}



.ui-datepicker table {
    margin: 0 !important
}

#ui-datepicker-div .ui-datepicker-title {
    font-family: Roboto !important
}

#ui-datepicker-div {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #fec003 !important;
  margin: 0;
  padding: 0;
  width: 291px !important;
  box-shadow: none
}

#ui-datepicker-div th,
.ui-datepicker-calendar td,
.ui-datepicker-calendar th {
    padding: 0 !important;
    font-family: Roboto;
}

#ui-datepicker-div td a {
    font-family: Roboto;
    font-size: 14px
        
}

#ui-datepicker-div th {
    font-family: Roboto !important;
    font-size: 14x !important
}

.ui-datepicker-calendar .ui-state-disabled, 
.ui-datepicker-calendar .ui-widget-content 
.ui-datepicker-calendar .ui-state-disabled, 
.ui-datepicker-calendar .ui-widget-header 
.ui-datepicker-calendar .ui-state-disabled {
  background-image: none;
  opacity: 0.15 !important;
  
}

.ui-datepicker-calendar .ui-state-default, 
.ui-datepicker-calendar .ui-widget-content 
.ui-datepicker-calendar .ui-state-default, 
.ui-datepicker-calendar .ui-widget-header 
.ui-datepicker-calendar .ui-state-default {
  background: #fff !important
}

body.adminimal-skin-material table.ui-datepicker-calendar th {
  border-right: none !important;
  font-size: 14px;
  font-family: Roboto;
}

body.adminimal-skin-material table.ui-datepicker-calendar tbody td a {
    font-size: 14px;
    font-family: Roboto !important;
}

body.adminimal-skin-material table.ui-datepicker-calendar .ui-state-active, 
body.adminimal-skin-material table.ui-datepicker-calendar .ui-widget-content .ui-state-active, 
body.adminimal-skin-material table.ui-datepicker-calendar.ui-widget-header .ui-state-active,
body.adminimal-skin-material table.ui-datepicker-calendar tbody td a:hover {
    color: #000 !important;
    background: #eee !important;
    border-radius: 0 !important;
    text-decoration: none
}

#ui-datepicker-div td a.ui-state-active, #ui-datepicker-div td a:hover {
    text-shadow: none
}

.pager {
    position: absolute;
    left: 0;
}

.pager li {
    display: inline-block !important
}

.pager li a {
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #5974a3 !important;
    display: block !important;
    font-size: 24px;
    font-weight: 300;
    opacity: 1;
    padding: 3px 8px;
    position: relative;
    text-align: center;
    text-shadow:none;
}

li.pager-current {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background: #transparent none repeat scroll 0 0 !important;
    border: none !important;
    border-image: none !important;
    border-radius: 0;
    box-shadow: none;
    display: inline-block !important;
    font-size: 24px;
    margin-left: 3px !important;
    padding: 5px !important;
    position: relative;
    top: 0;
    color: #dd870b;
    font-weight: 400;
}

.item-list .pager li.last {
    padding-right: 0
}

.pager li.last a {
    padding-right: 0
}

.pager li a:hover {
    box-shadow: none;
    opacity: 1;
    text-decoration: none
}

.pager li.last i.fa {
    margin-right: 0
}

.item-list .pager li {
    /*padding: 0 !important;*/
    margin-bottom: 30px !important
}

#lx-domains-cmp-form {
    box-shadow: none;
    padding-bottom: 10px;
}

#lx-domains-cmp-form .vertical-tabs-pane {
    background: transparent;
}

#lx-domains-cmp-form .form-submit {
    margin-left: 0;
    border-radius: 0;
    font-size: 18px;
    margin-top: 10px
}

td .name .cid {
    color: #333;
    font-size: 12px;
    display: block;
    float: right;
    font-family: Courier New
}

.td-actions {
    width: 260px !important;
}

tbody .td-actions {
    opacity: 0.7;
}    

tbody tr:hover .td-actions {
    opacity: 1
}    

.appended-btns {
    text-align: right
}

.appended-btns a,
.td-actions a {
    padding: 2px !important;
    font-size: 18px;
    border-radius: 0 !important
}

.appended-btns a,
.td-actions a {
    margin-right: 10px;
}

.appended-btns a:last-child,
.td-actions a:last-child {
    margin-right: 0
}

.appended-btns a i,
.td-actions a i {
    margin-right: 0
}

.td-created {
    width: 105px
}

.td-total {
    width: 135px
}

.td-status {
    width: 140px
}

.td-text-right {
    text-align: right
}

.td-stat {
    width: 21px;
    position: relative
}

body.adminimal-skin-material .td-stat a {
    padding: 0 !important;
    font-size: 18px;
    padding: 2px !important;
    color: #dd870b;
    border-radius: 0
}

.td-stat a i {
    margin-right: 0;
}

.td-stat img {
    width: 21px !important;
    max-width: 21px !important;
    height: 20px !important;
}

table td .short_stat {
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: none;
    margin-left: -277px;
    padding: 5px;
    position: absolute;
    margin-top: -28px;
    width: 260px;
    z-index: 100;
    display: none;
    bottom: 0;
    border: 1px solid #dd870b
} 

table td .short_stat table {
    opacity: 0.95;   
}

table td .short_stat .overflow-fix {
    background: #dd870b
}

table td.log-link {
    width: 41px
}

table td .short_stat:after {
display: none
}

table td .short_stat.visible {
    display: block
}

body.adminimal-skin-material table td .short_stat table {
    border: none !important
}

body.adminimal-skin-material table td .short_stat table th:last-child,
body.adminimal-skin-material table td .short_stat table td:last-child {
    border-right: none !important;
    text-align: right
}

body.adminimal-skin-material table td .short_stat table tr:last-child td {
    border-bottom: none !important
}

body.adminimal-skin-material table td .short_stat table th {
    background: #f2b358 none repeat scroll 0 0 !important;
    border-bottom: none !important;
    border-left: medium none !important;
    color: #fff !important;
    font-weight: 400 !important;
    border-right: none !important;
    font-size: 14px !Important;
}

div.vertical-tabs ul li.selected a, div.vertical-tabs ul li.selected a:hover, 
div.vertical-tabs ul li.selected a:focus, div.vertical-tabs ul li.selected a:active {
    border-left: 5px solid #57a6b0;
}

div.vertical-tabs {
    border-left: none;
    background: rgba(230, 236, 246, 0.1);
}

body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button {
    background: #fff;
}

body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button.first {
    position: relative;
    top: -1px;
}

body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button.last {
    position: relative;
    bottom: -1px;
}

body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button.last.selected,
body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button.first.selected {
    top: 0
}

div.vertical-tabs .vertical-tabs-list,
body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button a {
    background: #fff !important
}    

body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button strong {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 300;
    color: #5974a3 !important
}

body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button a {
    opacity: 0.7
}

body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button.selected a {
    opacity: 1;
    background: rgba(230, 236, 246, 0.1) !important;
    padding-right: 0
}

body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button.selected strong {
    font-weight: 400;
    font-size: 20px;
}    

body.adminimal-skin-material div.vertical-tabs ul li.vertical-tab-button.selected sup {
    font-weight: 400
}

body.adminimal-skin-material div.vertical-tabs #edit-general-fs {
    padding-top: 0
}

body.adminimal-skin-material div.vertical-tabs #edit-general-fs legend {
    display: none !important
}    

#branding {
  padding: 0 20px !important;
  padding-left: 20px !important;
  overflow: visible !important
}

/*#block-lx-domains-cmp-clientmenu .content ul {
    margin: 0 !important;
}*/

.status-control .status-control-btn {
    display: inline;
    width: 20px;
    height: 20px;
    overflow: visible;
    margin-right: 5px;
    padding: 0;
    text-indent: 0;
    font-size: 20px;
    color: #ccc
}

.status-control .status-control-btn.is-active {
    background:transparent
}
.status-control .status-control-btn.is-active.active {
    background: transparent;
    color: #3da869
}    

.status-control .status-control-btn.is-under {
    background: transparent 
}
.status-control .status-control-btn.is-under.active {
    background: transparent;
    color: #ec2f2f
}

.status-control .status-control-btn.is-safe {
    background: transparent 
}
.status-control .status-control-btn.is-safe.active {
    background: transparent;
    color: #5e5ee8
}

.status-control .status-control-btn.is-money {
    background: transparent
}
.status-control .status-control-btn.is-money.active {
    background: transparent;
    color: #f79406
}

td .cur-status {float: left}
td .status-control {
    float:right
}

body.adminimal-skin-material.page-user-campaigns ul.action-links {
    float: left
}

body.adminimal-skin-material.page-user-campaigns ul.action-links a {
  background: #ed9c28 none repeat scroll 0 0;
  border-radius: 0;
  box-shadow: none;
  color: #ffffff;
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 20px;
  text-transform: uppercase;
  font-weight: bold
}

body.adminimal-skin-material.page-user-campaigns ul.action-links a:hover {
    background: #dd870b
}

.apender {
    position: relative;
}

.apender .name-sts,
.apender .name-total {
    padding-top: 5px;
    border-top: 1px solid #eee;
    /*margin-top: 5px;*/
}

#block-lx-domains-cmp-clientmenu .content ul a {
    padding: 5px 9px !important
}

.apender .name-sts {
    background: transparent;
    color: #555;
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-top: 15px
}

td .apender .status-control {
    float: none
}

.total-n-safe {
    float: right;
    text-align: right;
}

.total-n-safe .percent {
    font-size: 10px
}

.name.appended {
    font-weight: 400;
    font-size: 16px;
    padding: 5px 8px
}

.is-appended table td {
    border-bottom: 1px solid #eee !important
}

#mfselector-wrapper fieldset {
  box-shadow: none;
  padding-top: 10px !important;
  padding-left: 25px;
}

#lx-domains-cmp-form input.form-checkbox, 
#lx-domains-cmp-form input.form-radio {
    margin-right: 5px
}

.adminimal-skin-material #lx-domains-cmp-form .form-item-money-page .showpage-type, 
.adminimal-skin-material #lx-domains-cmp-form .form-item-safe-page .showpage-type {
    background: url(../images/showpage2.png) no-repeat 0 0 #fff;
    padding-left: 84px
}

.adminimal-skin-material #lx-domains-cmp-form .form-item-money-page .redirect-type, 
.adminimal-skin-material #lx-domains-cmp-form .form-item-safe-page .redirect-type {
    background: url(../images/redirectto2.png) no-repeat 0 0 #fff;
    padding-left: 84px
}

.adminimal-skin-material #lx-domains-cmp-form .form-item-money-page .notdefined, 
.adminimal-skin-material #lx-domains-cmp-form .form-item-safe-page .notdefined {
    background: url(../img/def.png) no-repeat 0 0 transparent;
    padding-left: 77px
}

#lx-domains-cmp-form #edit-filters-fs .form-item {
    margin-bottom: 0
}

#block-lx-domains-cmp-clientmenu .user-wrapper {
    /*background: url(/sites/all/themes/adminimal_theme/images/user-bg.png) repeat-y 0 0 #263238;*/
    color: #fff;
    float: left;
    margin-right: 20px;
    position: relative;
    text-align: right
}

#block-lx-domains-cmp-clientmenu .user-wrapper .user-login {
    font-weight: bold
}

#block-lx-domains-cmp-clientmenu .user-wrapper .buy-btn {
    font-weight: bold;
    color: orange
}

#block-lx-domains-cmp-clientmenu .content ul {
    float: right
}    

#user-profile-form {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;    
}

.show-full-str {
    border: 1px solid #ed9c28;
    background: rgba(230, 236, 246, 0.5); 
    box-shadow: 5px 0 35px #5974a3;
    border-radius: 0;
    height: auto;
    left: 50%;
    margin-left: -300px;
    padding: 0;
    position: fixed;
    top: 40%;
    width: 600px;
    z-index: 10;
}

.show-full-str.show-full-str-large {
    top: 10%;
    margin-left: -40%;
    width: 80%;
    height: 80%;
    box-shadow: 5px 0 105px #5974a3;
}

.show-full-str .content-data {
    padding: 5px;
    background: #fefefe;
    word-break: break-all;
    height: 100%;
    overflow-y: scroll;
    max-height: 400px
}

.show-full-str.show-full-str-large .content-data {
    max-height: 100%
}

/*.show-full-str.show-full-str-large:before {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000
}*/

.show-full-str .close-wrapper {
    position: relative;
    height: 0;
}

.show-full-str .close-wrapper a {
    background: url(/sites/all/themes/adminimal_theme/images/pop-close.png) no-repeat 50% 50% #ed9c28;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    display: block;
    position: absolute;
    right: -10px;
    top: -11px;
    border-radius: 0;
    border: none
}


.show-full-str .close-wrapper a:hover {
    text-decoration: none
}

.show-full-str {
    display: none
}

.show-full-str h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center    
}

.total-found-rows {
    float: right;
    color: orangered
}

#block-block-2 .content p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px
}

.form-item-set-active-after-x-imps .form-text {
    width: 40px;
    max-width: 40px
}


.page-node-779 .quick-menu-wrapper,
.page-node-45 .quick-menu-wrapper {
    width: 25%;
    float: left;
    padding: 0 10px
}

.page-node-779 .content h1,
.page-node-779 .content h2,
.page-node-779 .content h3,
.page-node-779 .content h4,
.page-node-45 .content h1,
.page-node-45 .content h2,
.page-node-45 .content h3,
.page-node-45 .content h4 {
    font-weight: bold;
}

.page-node-779 .content h1,
.page-node-45 .content h1 {
    padding-top: 50px
}

.page-node-779 .content h1,
.page-node-45 .content h2 {
    padding-top: 30px;
    margin-bottom: 10px
}


.page-node-779 .content h3,
.page-node-45 .content h3 {
    padding-top: 30px
}    

.page-node-779 .content h4,
.page-node-45 .content h4 {
    padding-top: 5px
}

.page-node-779 .content ul.details,
.page-node-45 .content ul.details {
    margin-top: 5px
}

.page-node-779  .content ol li,
.page-node-779  .content ul li,
.page-node-45 .content ol li,
.page-node-45 .content ul li {
    margin-bottom: 10px
}

.page-node-779 .content ul li,
.page-node-779 .content ol li,
.page-node-779 .content ol li a,
.page-node-779 .content ul li a,
.page-node-45 .content ul li,
.page-node-45 .content ol li,
.page-node-45 .content ol li a,
.page-node-45 .content ul li a {
    font-size: 16px
}

.page-node-779 .content ul li,
.page-node-779 .content ol li,
.page-node-45 .content ul li,
.page-node-45 .content ol li {
    color: #585858
}


.page-node-779 .faq-content,
.page-node-45 .faq-content {
    float: right;
    width: 74%;
    padding: 20px;
}

.page-node-779 .faq-content p,
.page-node-45 .faq-content p {
    font-size: 16px;
    line-height: 24px
}

.page-node-779 .faq-content p.screen,
.page-node-45 .faq-content p.screen {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #e3e4e8
}

.page-node-779 .faq-content img,
.page-node-45 .faq-content img {
    max-width: 80%;
    height: auto
}

.page-node-779 .quick-menu-wrapper ol,
.page-node-45 .quick-menu-wrapper ol {
    margin: 1em 0 0.25em 1em;    
}

.page-node-779 .quick-menu-wrapper ul li,
.page-node-779 .quick-menu-wrapper ul li a,
.page-node-45 .quick-menu-wrapper ul li,
.page-node-45 .quick-menu-wrapper ul li a {
    font-size: 15px;
    line-height: 16px
}

.page-node-779 .quick-menu-wrapper ul li ul li,
.page-node-779 .quick-menu-wrapper ul li ul li a,
.page-node-45 .quick-menu-wrapper ul li ul li,
.page-node-45 .quick-menu-wrapper ul li ul li a {
    font-size: 14px
}

.page-node-779 .quick-menu-wrapper ul li,
.page-node-45 .quick-menu-wrapper ul li {
    margin-bottom: 5px
}    

.page-node-779 .quick-menu-wrapper ul li ul li,
.page-node-45 .quick-menu-wrapper ul li ul li {
    margin-bottom: 2px
}

.page-node-779 .quick-menu-wrapper ol li,
.page-node-779 .quick-menu-wrapper ol li a,
.page-node-779 .quick-menu-wrapper ul li ul li ul li,
.page-node-779 .quick-menu-wrapper ul li ul li ul li a,
.page-node-45 .quick-menu-wrapper ol li,
.page-node-45 .quick-menu-wrapper ol li a,
.page-node-45 .quick-menu-wrapper ul li ul li ul li,
.page-node-45 .quick-menu-wrapper ul li ul li ul li a {
    font-size: 13px;
    line-height: 15px
}

.page-node-45 .content h2.notoppad {
    padding-top: 0
}

span.link {
    color: #2196f3
}


.qick-tip {
    background: transparent;
    width: auto;
    height: auto;
    display: inline-block;
    font-size: 18px;
    color: #758db7;
    margin-left: 5px;
    cursor: pointer;
    opacity: 0.4;
    margin-right: 0 !important;
    font-size: 13px;
    vertical-align: super
}

.qick-tip:hover {
    opacity: 1
}

.qick-tip:hover {
    color: #5974a3
}

.qick-tip i {
    margin-right: 0;
}

.qtip-default {
    border: 1px solid #efa740;
    background-color: #fff;
    color: #111;
    font-family: Roboto;
    font-size: 13px;
    /*opacity: 0.98 !important;*/
    font-weight: 300
}

.qtip-default .qtip-content {
    padding: 5px;
}

.qtip-content p {
    margin-bottom: 8px;
    font-size: 13px;
    color: #333;
    line-height: 18px
}

.qtip-content p.extra-lniks {
    border-top: 1px solid #efefef !important;
    padding-top: 8px;
}

.qtip-content p.extra-lniks a {
    display: block;
    color: #5974a3;
    font-weight: 400;
    font-size: 12px
}

.qtip-content p.extra-lniks a:last-child {
    margin-bottom: 0
}

.qtip-content p strong {
    font-weight: 400
}

.campaigns-stat-page .qtip-default,
.campaigns-list-page .qtip-default {
    border: 1px solid #F1D031;
    background-color: #fafab4;
    color: #333;
}

.campaigns-stat-page .qtip-default .qtip-content,
.campaigns-list-page .qtip-default .qtip-content {
    text-align: center
}    

.campaigns-stat-page .region-content{
    position: relative
}

.campaigns-stat-page .preinfo {
    position: absolute;
    top: -30px;
    right: 0;    
}

.ui-slider-horizontal .ui-slider-range {
    background: #efa740
}

.icheckbox_square-purple, .iradio_square-purple {
    position: relative;
    top: -5px;
    margin-right: 5px
}

#lx-domains-cmp-form .form-item-check-device-desktops,
#lx-domains-cmp-form .form-item-check-device-smartphones {
    margin-bottom: 25px
}

#lx-domains-cmp-form .os-select {
    margin-bottom: 30px
}

#lx-domains-cmp-form .form-item-lp-input-type {
    position: absolute;
    top: 0;
    right: 0    
}

.subscription-tariff-info-wrapper .ttl, .subscription-tariff-wrapper .ttl {
    background: #57a6b0
}

body.adminimal-skin-material table th a {
    color: #fff;
    text-decoration: underline
}

body.adminimal-skin-material table th a:hover {
    text-decoration: none
}

table th.active img {
    right: 0;
    margin-left: 10px    
}

table th.active a {
    padding-right: 0
}

.pricing-table.princig-table-flat .plan {
    border-radius: 0
}

.pricing-table.princig-table-flat .plan h3 {
    background: #5974a3;
    text-shadow: none;  
    border-radius: 0
}

.pricing-table h3 .desc {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 10px;
    padding-bottom: 0;
    font-style: normal;
    text-transform: none;
    display: block;
    position: absolute;
    width: 100%    
}

.pricing-table.princig-table-flat .plan h3 span {
    font-weight: 600;
    margin-top: 40px;
    background: transparent 
}

.pricing-table.princig-table-flat .plan ul li {
    padding: 14px 0;
    font-size: 16px
}

.pricing-table .btn {
    background-color: #ed9c28;
    border: none;    
    color: white;
    margin-top: 35px;
    font-size: 18px;
    font-weight: 400 !important;
    font-family: Roboto;    
}

.pricing-table .btn:hover {
    text-decoration: none
}

.pricing-table .col-md-3 {
    margin-bottom: 30px
}

.pricing-table .plan:hover {
    box-shadow: none
}

body.adminimal-skin-material.page-tarifs fieldset.pad12 {
    padding: 0 !important;
    background: #fff;
    box-shadow: none !Important;    
}

body.adminimal-skin-material.page-node-45 fieldset.white-bg {
    background: #fff !Important
}

body.adminimal-skin-material.style-checkboxes input[type=checkbox] {
    border-radius: 0
}

body.adminimal-skin-material.style-checkboxes input[type=checkbox], body.adminimal-skin-material.style-checkboxes input[type=radio] {
    border-color: #5974a3;
}

body.adminimal-skin-material.style-checkboxes input[type=checkbox]:checked, body.adminimal-skin-material.style-checkboxes input[type=checkbox]:disabled:checked {
    background: url('../skins/material/images/check.svg') scroll no-repeat 0 0 #5974a3;    
    
}

body.adminimal-skin-material.style-checkboxes input[type=checkbox]:checked, body.adminimal-skin-material.style-checkboxes input[type=checkbox]:disabled:checked, body.adminimal-skin-material.style-checkboxes input[type=radio]:checked, body.adminimal-skin-material.style-checkboxes input[type=radio]:disabled:checked {
    border-color: #5974a3;
}

body.adminimal-skin-material.style-checkboxes input[type=radio]:checked, body.adminimal-skin-material.style-checkboxes input[type=radio]:disabled:checked {
    background: #5974a3;
}

#block-lx-domains-cmp-clientmenu .content li.closebtn-wrapper {
    display: none;
}

body.adminimal-skin-material table tbody td a {
    padding: 0;
}

#lx-domains-cmp-log-filters label {
    opacity: 0.7;
    font-size: 20px;
    color: #5974a3;
    position: relative;
    top: 3px
}

#lx-domains-cmp-log-filters label span {
    display: none;
}

#lx-domains-cmp-log-filters .form-item-userip label {
    font-weight: 600 !important;
    margin-right: 8px 
}

#lx-domains-cmp-log-filters .fieldset-wrapper {
    display: flex;
}

#lx-domains-cmp-log-filters .fieldset-wrapper .form-item,
#lx-domains-cmp-log-filters .fieldset-wrapper .form-submit {
    display: flex;
    margin-bottom: 0;
}

#lx-domains-cmp-log-filters .fieldset-wrapper .form-item {
    margin-right: 0
}

#lx-domains-cmp-log-filters .fieldset-wrapper .form-item #edit-selfield {
    border-right: none;
}
#lx-domains-cmp-log-filters .fieldset-wrapper .form-item #edit-selfieldval {
     width: 100%;
     border-left: none;
     padding-left: 20px
}

#lx-domains-cmp-log-filters .fieldset-wrapper .form-item #edit-date {
    width: 105px
}

.stat-extra-bnts {
    float: right;
    font-size: 24px;
    position: relative;
    top: 3px    
}

.stat-extra-bnts i.fa {
    margin-right: 4px;
    opacity: 0.7
}

.stat-extra-bnts i.fa:hover {
    opacity: 1
}

div.form-item div.password-suggestions {
    display: none !important;
}

div.modal-forms-modal-content .modal-title {
    display: inline-block;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 300;
    color: #333;
    padding-top: 6px 
}

div.ctools-modal-content .modal-content {
    width: 100% !important;
    padding-bottom: 0
}

div.ctools-modal-content .modal-content .form-item {
    padding: 0
}

#modalBackdrop {
    /*background: rgba(255,255,255,0.75) !important;*/
    display: none !important
}

#modalContent {
    background: #fff;
    position: fixed !important;
    top: auto !important;
    bottom: 20px;
    right: 20px;
    left: auto !important;
    box-shadow: 5px 0 15px #ccc    
}

div.modal-forms-modal-content .popups-container {
    border-radius: 0;
    border: 1px solid #ed9c28;
    background: rgba(230, 236, 246, 0.5)
}

div.modal-forms-modal-content .popups-container textarea {
    padding: 5px 7px;
    border: 1px solid #ddd;
    background: #fff;
    color: #333;    
    font-family: Roboto;
    resize: none
}

div.modal-forms-modal-content .popups-container .webform-submit {
    padding: 7px 18px 6px 18px;
    background: #73c394;
    position: relative;
    border-radius: 0;
    box-shadow: none;
    border-radius: 0;
    font-size: 18px;
    margin-right: 0;
    width: 100%
}
div.modal-forms-modal-content .popups-container .webform-submit:hover {
    box-shadow: none;
    opacity: 0.8
}

div.modal-forms-modal-content .popups-close {
    background: url(../images/modal-close.png) no-repeat 0 0 transparent;
    width: 17px;
    height: 17px;
    top: 10px;
    position: relative
}
div.modal-forms-modal-content .popups-close:hover {
    background: url(../images/modal-close.png) no-repeat 0 0 transparent;
    opacity: 0.95;
    
}

div.modal-forms-modal-content .links {
    display: none !important
}

div.modal-forms-modal-content .webform-confirmation p {
    text-align: center;
    padding-top: 40px;    
    font-size: 22px;
    line-height: 38px;
    color: #444;
    font-weight: 300
}

#block-lx-domains-cmp-clientmenu .ajax-progress .throbber,
div.modal-forms-modal-content .ajax-progress .throbber {
    background: transparent !important;
    display: none !important
}    

body.adminimal-theme .ui-autocomplete .ui-menu-item a {
    font-size: 14px;
    font-family: Roboto;
    color: #111;
}

body.adminimal-theme .ui-autocomplete .ui-menu-item a:hover {
    background: #57a6b0 !important;
    font-size: 14px !important;
    font-family: Roboto !important;
    color: #fff !important;
}

ol.recoms {
    font-size: 16px;
}

ol.recoms li,
ol.recoms ul li {
    margin-bottom: 10px
}

.stat-num {
    letter-spacing: 0.5px;
}

body.adminimal-skin-material .new-look table {
    border: none;
    border-bottom: 1px solid #e4e8ef;
}


body.adminimal-skin-material .new-look table th {
    color: #2a4677 !important;
    font-family: Roboto;
    font-size: 13px !Important;
    border-right: none !important;
    text-transform: uppercase;
    
    border-bottom: 1px solid #e4e8ef !important;
    border-right: 1px solid #e4e8ef !important;
    background: #f7f8fb !important;
    border-top: 2px solid #e4e8ef;
}    

body.adminimal-skin-material .new-look table th:last-child {
    border-right: none !important
}

body.adminimal-skin-material .new-look.blue-header table th:last-child {
    border-right: none !important;
}


body.adminimal-skin-material .new-look table th a {
    color: #38568a !important;
}

body.adminimal-skin-material .new-look table th,
body.adminimal-skin-material .new-look table td {
    padding: 6px 5px !important; 
}    
body.adminimal-skin-material .new-look table td {
    border-bottom: none !important
}    

.new-look.align-right table th,
.new-look.align-right table td {
    text-align: right;
}

.new-look.align-right table th:first-child,
.new-look.align-right table td:first-child{
    text-align: left;
}

.new-look table th:last-child,
.new-look table td:last-child{
    border-right: none !important
}

.new-look table tr.total-row {
    font-weight: bold
}

.new-look table tr.day-row {
    cursor: pointer
}

.new-look .percent {
    color: #111;
    font-weight: 300;
    display: inline-block;
    width: 50px;
    font-size: 11px;
}

body.adminimal-skin-material fieldset.table-fs.new-look {
    background: transparent !important
}

.new-look .form-item {
    margin-bottom: 5px
}

.new-look table th i.fa.fa-sort-asc {
    top: 3px    
}

.new-look table .td-total.td-sort-new-look  i.fa {
    position: absolute;
    top: 6px
}

.column-switcher {
    position: relative
}

.column-switcher i.fa.fa-eye {
    position: absolute;
    top: 6px;
    left: -9px;
    margin-right: 0
}

body.adminimal-skin-material table td.log-link {
    font-size: 18px;
    opacity: 0.7;
    color: #5974a3
}

body.adminimal-skin-material table td.log-link:hover {
    opacity: 1
}

.blue-header .td-total {
    width: 140px
}

.large-hidden {
    display: none
}

#block-lx-domains-cmp-clientmenu .content ul li.last a {
    border-left: 1px solid #8599bc !important;
}
#block-lx-domains-cmp-clientmenu .content ul li.last a i.fa {
    margin-right: 0
}

#lx-domains-cmp-form h3.mfttl {
    clear: both;
    float: none;
    display: block;
    width: 180px    
}

#lx-domains-cmp-form h3.mfttl sup {
    color: #efa740;
    font-size: 14px;
    font-weight: 300
}

#lx-domains-cmp-form .form-item-js-timezone {
    display: inline-block;
}
#lx-domains-cmp-form .form-item-js-timezone-delta {
    display: inline-block;
    margin-left: 10px
}

#lx-domains-cmp-form .form-item-js-timezone-delta .field-prefix,
#lx-domains-cmp-form .form-item-js-timezone-delta .field-suffix {
    font-size: 16px;
    font-weight: 300;
}

#lx-domains-cmp-form .form-item-pass-fb-prefetch {
    margin-left: 25px
}

#user-register-form .field-name-field-agreement label {
    font-size: 15px !important
}

#user-register-form .mail-tooltip {
    position: absolute;
    top: -137px;
    display: inline;
    width: 260px;
    background: #efa740;
    box-sizing: border-box;
    padding: 2px;
    display: none;    
}

#user-register-form .mail-tooltip-content {
    padding: 4px;
    background: #fff
}

#user-register-form .mail-tooltip:after {
    border: solid;
    border-color: #efa740 transparent;
    border-width: 10px 8px 0 7px;
    bottom: -9px;
    content: "";
    left: 15px;
    position: absolute;
    z-index: 99;
}    



@media (max-width:1400px){	
    
    .stat-log-table .overflow-fix {
        display: block;
        overflow-x: scroll
    }
    
    #lx-domains-stat-dates .form-item-enabled-filters {
      border-left: none;
      border-right: none;
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #eee;
      width: 100%
    }    
    
    #lx-domains-stat-dates .form-item-enabled-filters .form-type-checkbox {
        display: inline-block;
        width: 125px
    }    
}    

@media (max-width:1200px){	
    .campaigns-stat-page .preinfo {
        position: relative;
        top: auto;
        right: auto
    }
}    

@media (max-width:1080px){	
    #lx-domains-cmp-log-filters .fieldset-wrapper {
        display: block;
    }

    #lx-domains-cmp-log-filters .fieldset-wrapper .form-item,
    #lx-domains-cmp-log-filters .fieldset-wrapper .form-submit {
        display: bock;
    }    
    
    #lx-domains-cmp-log-filters .fieldset-wrapper .form-item-date,
    #lx-domains-cmp-log-filters .fieldset-wrapper .form-item-blockedby,
    #lx-domains-cmp-log-filters .fieldset-wrapper .form-item-userip {
        float: left;
        margin-bottom: 20px
    }
    
    #lx-domains-cmp-log-filters .fieldset-wrapper .form-item-userip {
        clear: right
    }    
    
    #lx-domains-cmp-log-filters .fieldset-wrapper .form-item-selfield {
        clear: left;
    }
    
    #lx-domains-cmp-log-filters .fieldset-wrapper .form-item-selfield,
    #lx-domains-cmp-log-filters .fieldset-wrapper .form-item-selfieldval,
    #lx-domains-cmp-log-filters .fieldset-wrapper .form-submit {
        float: left;
    }
    
    #lx-domains-cmp-log-filters .fieldset-wrapper .form-item-selfieldval {
        width: 245px
    }
}    


@media (max-width:1024px){	
    
   
    
    #block-lx-domains-cmp-clientmenu .user-wrapper {
        margin-right: 60px
    }    
    
    #block-lx-domains-cmp-clientmenu .content ul {
      background: transparent !important;
      right: 0 !important;
      top: 40px !important
    }        
    
    #block-lx-domains-cmp-clientmenu .content ul a {
        color: #fff !important
    }
    
    #block-lx-domains-cmp-clientmenu .content ul a:hover {
        color: #fff !important
    }
    
    #lx-domains-admin-cmp-search-form .form-item {
        padding-left: 0;
    }
    
    td .name .cid {
        display: none
    }
    
    .graf-1,
    .graf-2 {
        float: none;
        width: auto !important
    }
    
    .graf-1 iframe,
    .graf-2 iframe,    
    .graf-1 canvas,
    .graf-2 canvas {    
        width: 100% !important
    }   
}    

.mfttl {
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 400;
    font-weight: 400;
    border-bottom: 2px solid #efa740;
    display: inline-block;
    padding-bottom: 5px
}


form .field-prefix {
    position: relative
}

form .redir-din-tabs {
  float: right;
  height: 0;
  position: relative;
  top: -29px;
}

body.adminimal-skin-material form .redir-din-tabs a {
    background: transparent url("../images/radios2.png") no-repeat scroll 0 -18px;
    color: #333 !important;
    display: block;
    float: left;
    line-height: 18px;
    margin-left: 20px;
    padding-left: 23px;
    z-index: 10;
    transition: unset !important
}

body.adminimal-skin-material form .redir-din-tabs a:hover {
    text-decoration: none
}

body.adminimal-skin-material form .redir-din-tabs a.seltab {
    background: transparent url("../images/radios2.png") no-repeat scroll 0 0;
    transition: unset !important;
    display: inline-block;
    height: 18px;
    overflow: hidden
}

#lx-domains-cmp-form #edit-general-fs input.form-text {
    z-index: 1
}

table th,
table td {
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
}

td.tmp-highlight {
    background: #FFF9C4 !important;
}

.flt-deleted {
    text-decoration: line-through;
}



.grag-phone-mess {
    display: none;
    text-align: center
}

#lx-domains-cmp-log-filters .form-item-userip .form-text {
    width: 144px
}

#lx-domains-cmp-log-filters .form-item-selfield {
    margin-right: 0;
    padding-right: 0
}

#lx-domains-cmp-log-filters .form-item-selfieldval {
    margin-left: -4px
}

#lx-domains-cmp-log-filters .form-item-selfieldval .form-text {
    width: 200px
}

#user-profile-form .form-checkbox {
    width:  14px !important;
    height: 15px !important;
}

fieldset#edit-js.form-wrapper {
    background: transparent;
    padding: 0 !Important;
    position: absolute;
    top: 140px;
    left: 400px;
    box-shadow: none    
}

fieldset#edit-js.form-wrapper fieldset {
    background: transparent;
    padding: 0 !Important;
    box-shadow: none
}

.form-item-show-first .form-radios {
    padding-left: 25px;
}

body.adminimal-skin-material.page-user-campaigns .form-item.form-type-radios.form-item-show-first > label {
    font-weight: 500 !important
}

@media (max-width:988px){	
    #lx-domains-cmp-filter .form-submit {
        margin-top: 0
    }
    
    #lx-domains-cmp-form #edit-general-fs {
      box-sizing: border-box;
      width: 100%;
      padding-right: 10px;
    }    
    
    #lx-domains-cmp-form .form-item-safe-page-send-params, 
    #lx-domains-cmp-form .form-item-money-page-send-params {
        right: 10px
    }
    
    #lx-domains-cmp-form .form-item-safe-page-send-params input.form-checkbox, #lx-domains-cmp-form .form-item-money-page-send-params input.form-checkbox {
      margin-top: 3px;
    }    
    
    #block-lx-domains-cmp-clientmenu .content ul {
      background: transparent none repeat scroll 0 0 !important;
      right: 0 !important;
      top: 9px !important
    }    
    
    #block-lx-domains-cmp-clientmenu .content ul a {
        color: #fff !important;
        font-weight: normal !important;
        font-size: 16px !important;
        padding: 5px 10px;
    }
    
    #block-lx-domains-cmp-clientmenu .content ul a:hover {
        color: #5974a3 !important;
        background: #fff
    }    
    
    .operations ul.width-174.menu-vis {
        border-radius: 5px;
        border-top: medium none;
        box-sizing: border-box;
        left: 50%;
        margin-left: -100px !important;
        position: fixed !important;
        top: 10%;
        width: 200px !important;    
    }    
    
    .operations ul.menu-vis li a,
    body.adminimal-skin-material #page table td .operations .menu-vis a {
      font-size: 20px !important;
      padding: 10px !important;
    }
    
    .operations ul li span {
      font-size: 18px !important;  
    }
    
    #lx-domains-stat-dates .operations ul.width-174.menu-vis {
        border-radius: 5px;
        border-top: medium none;
        box-sizing: border-box;
        left: 50%;
        margin-left: -150px !important;
        position: fixed !important;
        top: 10%;
        width: 300px !important;    
    }     
   
    .td-actions {
        width: 142px !important;
    }    
}    

@media (max-width: 925px) {
    .page-node-45 .quick-menu-wrapper {
        display: none
    }
    
    .page-node-45 .faq-content {
      float: none;
      width: 100%;
    }    
}    

@media (max-width: 890px) {
    fieldset#edit-js.form-wrapper {
        position: relative;
        top: auto;
        left: auto;
    }    
}    
@media (max-width: 800px) {
    
    body.adminimal-skin-material.page-user-campaigns ul.action-links {
        float: none;
        width: 100%
    }
    
    body.adminimal-skin-material.page-user-campaigns ul.action-links li {
        float: none;
        margin: 0
    }
    
    body.adminimal-skin-material.page-user-campaigns ul.action-links a {
        width: 100%;
        padding: 5px 0;
        box-sizing: border-box;
        text-align: center
    }    
    
    body.adminimal-skin-material #lx-domains-cmp-filter .fieldset-wrapper {
        display: block
    }
    
    body.adminimal-skin-material #lx-domains-cmp-filter .form-item {
        margin-bottom: 20px;
        padding: 0
    }
    
    body.adminimal-skin-material #lx-domains-cmp-filter .form-item-status {
        margin-top: 20px
    }    
    
    body.adminimal-skin-material #lx-domains-cmp-filter .form-item-sortby,
    body.adminimal-skin-material #lx-domains-cmp-filter .form-item-name,
    body.adminimal-skin-material #lx-domains-cmp-filter #edit-submit,
    body.adminimal-skin-material #lx-domains-cmp-filter .form-item-status {
        width: 100%;
        display: block
    }
    
    body.adminimal-skin-material #lx-domains-cmp-filter .form-item-sortby select,
    body.adminimal-skin-material #lx-domains-cmp-filter .form-item-status select {
        width: 100%
    }
    
    body.adminimal-skin-material #lx-domains-cmp-filter .form-item-name i.fa {
        display: none
    }    
}    
    
@media (max-width: 720px) {
    .td-stat {
        display: none
    }
    
    body.adminimal-skin-material table tbody td a {
        margin: 5px;
        margin-top: 10px;        
    }
}    
 
  /*switch to mobile menu*/
@media (max-width: 750px) {
    /*menu*/
    
    #block-lx-domains-cmp-clientmenu .mobile-icon {
        display: block;
        font-size: 30px;
        background: transparent !important;
        position: relative;
        top: 8px !important;
        right:5px !important;        
    }
    
    #block-lx-domains-cmp-clientmenu .mobile-icon a {
        color: #fff
    }
    
    #block-lx-domains-cmp-clientmenu .mobile-icon img {
        display: none
    }
    
    #block-lx-domains-cmp-clientmenu .content ul {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        background: #5974a3 !important;
        width: 100%;
        height: 100%;            
        padding-top: 40px;
    }
    
    #block-lx-domains-cmp-clientmenu .content li {
        float: none;
        text-align: center
    }
    
    #block-lx-domains-cmp-clientmenu .content li i.fa {
        display: none;
    }
    
    #block-lx-domains-cmp-clientmenu .content li.closebtn-wrapper i.fa {
        display: block;
        color: #fff;
        font-size: 24px
    }
    
    #block-lx-domains-cmp-clientmenu .content li a {
        font-size: 28px !important;
        font-weight: 300 !important;
        padding: 25px 10px !important;
    }
    
    #block-lx-domains-cmp-clientmenu .content ul li.last a {
        border-left: none !important
    }    
    
    #block-lx-domains-cmp-clientmenu .content li.closebtn-wrapper {
        display: block;
        text-align: right
    }
    
    #block-lx-domains-cmp-clientmenu .content li.closebtn-wrapper a {
        padding-bottom: 40px !Important;
        padding-top: 10px !Important;
        padding-right: 3px !Important
    }
    
    #block-lx-domains-cmp-clientmenu .content ul li.active,
    #block-lx-domains-cmp-clientmenu .content ul li a.active,
    #block-lx-domains-cmp-clientmenu .content ul li:hover,
    #block-lx-domains-cmp-clientmenu .content ul li a:hover {
        background: transparent !important;
        color: #fff !Important
    }    
    
    .large-hidden {
        display: inline
    }

    #block-lx-domains-cmp-clientmenu .content ul li sup.news,
    #block-lx-domains-cmp-clientmenu .content ul li sup.alerts {
        display: none
    }
}    
    
@media (max-width: 690px) {
    
    span.link,
    #node-45 p a {
        word-break: break-all;
    }
    
    #edit-ref-fs  .form-textarea,
    #edit-ip-fs  .form-textarea,
    #edit-isp-fs .form-text,
    #edit-isp-fs .form-textarea,
    #edit-loc-fs .form-text {
        display: block;
        box-sizing: border-box !important;
    }
    
     #edit-set-time-fs .form-type-radio label,
     #edit-urlsbs-fs .form-type-radio label,
    #edit-ua-fs .form-type-radio label,
    #edit-ref-fs .form-type-radio label,
    #edit-ip-fs .form-type-radio label,
    #edit-isp-fs .form-type-radio label,
    #edit-loc-fs .form-type-radio label {
        font-size: 13px !important
    }
    
    #edit-set-time-fs .form-item-cmp-timezone,
    #edit-urlsbs-fs .form-item-urlsbs-list-required,
    #edit-urlsbs-fs .form-item-urlsbs-list-disallowed,
    #edit-ua-fs .form-item-ua-list-required,
    #edit-ua-fs .form-item-ua-list-disallowed,
    #edit-ref-fs .form-item-ref-list,
    #edit-ip-fs .form-item-ip-list,
    #edit-loc-fs .form-item-loc-list,
    #edit-isp-fs .form-item-isp-select,
    #edit-isp-fs .form-item-isp-list {
        padding-right: 0 !important
    }
    
    div.resp-tabs .resp-tabs-container .resp-tab-content select#edit-set-under-review-after {
        font-size: 13px
    }
    
    #edit-status-fs .form-item-set-under-review-after {
        padding-right: 0 !important
    }
    
    #edit-ip-fs .description p {
        padding-left: 0 !important;
        font-size: 13px
    }
    
    #lx-domains-cmp-form .form-submit {
        float: none;
        width: 100%;
        margin-top: 20px
    }
    
    table.sticky-header {
        display: none !important
    }
    
    #branding {
        padding-left: 10px !important;
        padding-right: 0 !important;
    }
    
    .form-item.form-type-checkbox.form-item-magic-filter-super {
        margin-bottom: 20px !important
    }
    
    #topper .small-logo {
        padding-left: 11px
    }
    
    #topper .user-small-menu ul {
        margin-right: 10px
    }
    
    #main-content {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px
    }    
    
    .bradcrubms {
        padding: 0 10px
    }
    
    
    #lx-domains-cmp-form div.vertical-tabs fieldset.vertical-tabs-pane > legend {
        display: none !important
    }
    
    div.resp-tabs .resp-tabs-container .resp-accordion a {
        font-size: 22px;
        font-family: Roboto;
        background: #57a6b0
    }
    
    div.resp-tabs .resp-tabs-container .resp-accordion a strong {
        font-weight: 300
    }
    
    div.resp-tabs .resp-tabs-container .resp-accordion a strong sup {
        font-weight: 400;
    }
    
    div.resp-tabs .resp-tabs-container .resp-accordion {
        border-top: none;
        border-bottom: 1px solid #eee
    }
    
    div.resp-tabs .resp-tabs-container .resp-accordion[aria-controls="tab_item-10"] {
        border-bottom: none
    }
    
    div.vertical-tabs {
        border: none
    }
    
    #lx-domains-cmp-form div.vertical-tabs .resp-tab-content-active {
    background: rgba(230, 236, 246, 0.3);
    margin-bottom: 0;
    }
    
    .full-stat-table .overflow-fix table {
        display: block;
        overflow-x: scroll
    }
    
    .bradcrubms {
        margin-bottom: 10px
    }
    
    #lx-domains-cmp-log-filters .fieldset-wrapper .form-item,
    #lx-domains-cmp-log-filters .fieldset-wrapper .form-submit {
        float: none;
        clear: both;
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
        padding-right: 0
    }    
    
    #lx-domains-cmp-log-filters .form-item-selfieldval {
        padding-left: 26px;
    }
    
    #lx-domains-cmp-log-filters .fieldset-wrapper .form-submit {
        text-align: center;
        padding-left: 0;
        display: block;
        margin-bottom: 0
    }
    
    #lx-domains-cmp-log-filters .fieldset-wrapper .form-item-selfieldval .form-text {
        border-left: 1px solid #ddd !important;
    }
    
    #lx-domains-cmp-log-filters .fieldset-wrapper .form-item #edit-selfield {
        border-right: 1px solid #ddd !important;
    }
        
    
    #lx-domains-cmp-log-filters .fieldset-wrapper .form-item .form-text,
    #lx-domains-cmp-log-filters .fieldset-wrapper .form-item .form-select {
        width: 100% !important
    }
}

@media (max-width: 649px) {
    .stat-table .column-switcher,
    .hide-650 {
        display: none
    }
    
    span.percent {
        display: block
    }    
    
}    


@media (max-width: 640px) {
    .show-full-str {
      left: 0;
      margin-left: 10px;
      position: fixed;
      width: 90%;
    }      
    
    .show-full-str.show-full-str-large {
        top: 10%;
        margin-left: -45%;
        width: 90%;
        height: 85%;
        left: 50%;        
    }
    
    .show-full-str.show-full-str-large table th {
        width: 30%
    }
    
    .show-full-str.show-full-str-large table th:first-child {
        width: 40%
    }
}



@media (max-width:589px){
    #lx-domains-caleran-dates-range-form .form-submit,
    #lx-domains-caleran-dates-range-form .form-item {
        padding-right: 0;
        display: flex;
        margin-top: 10px;
        float: none;
        width: 100%;
        clear: both
    }
    
    #lx-domains-caleran-dates-range-form .form-submit {
        text-align: center;
        display: block;
    }
    
    #lx-domains-caleran-dates-range-form .form-item .form-text,
    #lx-domains-caleran-dates-range-form .form-item .form-select {
        width: 100%
    }    
    
    body.adminimal-skin-material #lx-domains-caleran-dates-range-form label i.fa {
        position: relative;
        top: 4px
    }
    
}

@media (max-width:480px){
    
    #page {
        margin-left: 0;
        margin-right: 0;
    }
    
    .fs-grafs{
        display: none
    }
    
    .grag-phone-mess {
        display: block
    }    
    
    #block-lx-domains-cmp-clientmenu .user-wrapper {
        margin-right: 10px
    }    
    
    body.adminimal-skin-material #branding {
      padding: 0 0 0 10px !important;
    }    
    
    .region-branding {
      margin-right: 0 !important;
    }    
    
    #branding div.block {
        width: auto !important
    }
    
    #branding .mobile-icon {
      background: transparent none repeat scroll 0 0 !important;
    }    
    
    
    #pie {
        min-height: 300px;
        max-width: 100%
    }    
       
    .operations ul.width-174.menu-vis,
    #lx-domains-stat-dates .operations ul.width-174.menu-vis {
        top: 35%
    }    
}

@media (max-width:400px){
    
    #user-profile-form {
        padding: 10px
    }
    
    #user-profile-form .form-item {
        padding: 0
    }
    
    #user-profile-form .form-text {
        width: 100% !important;
    }    
    
    form .redir-din-tabs {
      float: right;
      height: 0;
      position: relative;
      top: -47px;
    }
    
    body.adminimal-skin-material form .redir-din-tabs a {
      background: transparent url("/sites/all/modules/custom/lx_domains_cmp/img/radios.jpg") no-repeat scroll 0 -18px;
      color: #333 !important;
      display: block !important;
      float: none;
      line-height: 18px;
      margin-bottom: 5px;
      margin-left: 9px;
      padding-left: 23px;
      transition: none 0s ease 0s ;
      z-index: 10;
    overflow: hidden;
    display: inline-block;
    height: 18px;      
      
    }   
    
    
    
    
    .subscription-tariff-info-wrapper {
        margin-right: 0 !important
    }
    
    #topper .user-small-menu ul li.user-mail {
        display: none
    }
    
    td .cur-status,
    td .status-control {
        float: none
    }    
    
    .apender {
        border-top: 1px solid #eee
    }
    
    .total-n-safe {
        float: none
    }
    
    .total-n-safe div {
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        text-align: left;
        border-top: none !important;
        padding-bottom: 3px;
        padding-left: 5px
    }
    
    .total-n-safe div.name-safe {
        text-align: right;
        padding-left: 0;
        padding-right: 5px
    }
    
    .name-sts {
        text-align: center;
    }
    
    .appended-btns {
        text-align: center;
    }
    
    .xs-hid {
        display: none
    }
}    

@media (max-width:340px){
    
    div.resp-tabs .resp-tabs-container .resp-tab-content select#edit-set-under-review-after {
        width: 45px !Important
    }
    
    body.adminimal-skin-material #lx-domains-stat-dates .form-item-period label,
    body.adminimal-skin-material #lx-domains-stat-dates label i.fa {
        margin-right: 0
    }
    
    #lx-domains-stat-dates #edit-submit {
        padding-left: 10px;
        padding-right: 10px
    }
    
    
    .hide-479 {
        display: none
    }    
    
    #lx-domains-cmp-filter .form-text {
        width: 256px;
        margin-right: 0;
        padding-right: 0;
    }
    
    #lx-domains-cmp-filter .form-item {
        margin-right: 0;
        padding-right: 0;
    }
    
    form .alldis .form-type-radio {
      display: inline-block;
      margin-right: 5px;
    }    
    
    
    .operations ul.width-174.menu-vis, #lx-domains-stat-dates .operations ul.width-174.menu-vis {
        top:15%
    }
    
    #modalContent {
        right: 0
    }
    
    .new-look .percent {
        display: block;
        width: auto
    }
}    