/* Tablet Styles - You can edit the media query from the theme settings page. */
/*html body .overflow-fix {
  overflow: auto;
}*/

html body .ctools-dropbutton-processed {
  position: relative;
}

/* Sidebars */
#main-content {
  width: 100%;
  clear: both;
  display: block;
}

#sidebar-left .region-sidebar-left, #sidebar-right .region-sidebar-right {
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#sidebar-left .region-sidebar-left {
  padding-right: 0px;
}

#sidebar-right .region-sidebar-right {
  padding-left: 0px;
}

/* my */

.graf-1, .graf-2 {
    float: none;
    width: 100%
}

#lx-domains-stat-dates .form-item-enabled-filters {
  border-left: none;
  border-right: none;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee
}

#lx-domains-stat-dates .form-item-enabled-filters .form-type-checkbox {
    display: inline-block;
    width: 125px
}

.mobile-icon {
    background: #d3ebff none repeat scroll 0 0;
    display: block;
    height: 40px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: -8px;
}


#block-lx-domains-cmp-clientmenu .content ul {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background: #d3ebff none repeat scroll 0 0;
    border-bottom: 1px solid #333 !important;
    border-image: none !important;
    border-left: 1px solid #333 !important;
    border-radius: 0;
    border-right: 0 none;
    box-shadow: none;
    display: none;
    margin: 0 !important;
    min-width: 195px;
    padding: 0;
    position: absolute;
    right: 5px;
    top: 32px;
    width: auto;
    z-index: 10;
}

#block-lx-domains-cmp-clientmenu .content ul li {
    list-style: inside none none;
    padding: 0;
    margin: 0;
    float: none;
    border-radius: 0 ;
    background: transparent
}

#block-lx-domains-cmp-clientmenu .content ul li.active,
#block-lx-domains-cmp-clientmenu .content ul li:hover {
    background: #e2f1fe;
    margin: 0 !important
}

#block-lx-domains-cmp-clientmenu .content ul li span {
    font-weight: bold;
    text-decoration: none
}

#block-lx-domains-cmp-clientmenu .content ul li.no-hover:hover{
    background: transparent;
}       

#block-lx-domains-cmp-clientmenu .content ul li a {
    border: medium none !important;
    border-radius: 0;
    color: #333;
    display: block;
    font-size: 14px;
    text-transform: none !important;
    transition: none;
    padding: 10px 20px;
    text-transform: uppercase
}

#block-lx-domains-cmp-clientmenu .content ul li:hover a {
    text-decoration: none !important;
    text-shadow: none;
    color: #333
}    

#block-lx-domains-cmp-clientmenu .content ul li.lev-2 a {
    padding-left: 10px
}

#lx-domains-cmp-form {
    padding-bottom: 0
}

#lx-domains-cmp-form .form-submit {
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  border-radius: 0 0 3px 3px
}

body.adminimal-skin-material #branding h1.page-title {
  font-family: Roboto,sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 1.5em;
  padding: 0 0 8px;
  padding-left: 12px;
}

div.resp-tabs .resp-tabs-container .resp-accordion a strong {
  margin-left: 0 !important;
}